{% extends 'base.html' %}
{% load static %}
{% load i18n humanize %}
{% block title %}
    {% trans 'Delivery address' %}
{% endblock %}
{% block content %}
    {{ header }}
    <div id="main">
        {{ breadcrumbs }}
        <div class="order_steps">
            <ul class="steps">
                <li class="active"><a href="{% url 'orders:cart' %}">{% trans 'Cart' %}</a></li>
                <li class="active"><a href="{% url 'orders:address' %}">{% trans 'Delivery address' %}</a></li>
                <li ><a href="{% url 'orders:time' %}">{% trans 'Delivery time' %}</a></li>
                <li ><a href="{% url 'orders:payment_method' %}">{% trans 'Payment method' %}</a></li>
                <li ><a href="{% url 'orders:checkout' %}">{% trans 'Checkout' %}</a></li>
            </ul>
        </div>
        <section id="address" style="font-size: 14px">
            <div class="col-md-4"></div>
            {% if not user.is_authenticated %}
                <div class="col-md-8">
                    <a class="enter" href="{% url 'users:login' %}?next={{ request.path }}">{% trans 'Login' %}</a>
                    <h4>{% trans 'or' %} {% trans 'Continue as guest' %}</h4>
                </div>
            {% else %}
                <h4>{% trans 'My delivery addresses' %}</h4>
                <div class="block-content">
                     <div class="row add">
                        <a href="" id="add_address">{% trans 'Add an address' %}</a>
                    </div>
                    {% for address in delivery_addresses %}
                        <div class="row delivery_item">
                            <div class="default" data-is_default="{% if address.is_default %}1{% else %}0{% endif %}">
                                {% if address.is_default %}
                                    <span>{% trans 'Default' %}:</span>
                                    <span>stroyshop</span>
                                {% endif %}
                            </div>
                            {% if address.email %}
                                <div class="email">{{ address.email }}</div>
                            {% endif %}
                            <div class="address">{{ address.address }}</div>
                            <div class="phone" data-phone="{{ address.phone }}">
                                {% trans 'Tel.' %} : +998 {{ address.phone }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-8">
                <form id="checkout-form" action="{% url 'orders:time' %}" method="post" role="form" style="display: block;">
                    {% csrf_token %}
                    <div {% if request.user.is_authenticated %}hidden{% endif %} class="form-group">
                        <input
                                type="text"
                                name="client_name"
                                maxlength="60"
                                required=""
                                id="id_client_name"
                                placeholder="{% trans 'Client name' %}"
                                value="{% if address %}{{ address.client_name }}{% elif request.user.is_authenticated %}{{ user.get_full_name }}{% endif %}"
                        >
                    </div>
                    <div {% if request.user.is_authenticated %}hidden{% endif %} class="form-group">
                        <div class="input-group prefix">
                            <span class="input-group-addon">+998</span>
                            <input
                                    required
                                    type="text"
                                    name="phone"
                                    id="id_phone"
                                    class="form-control checkou-phone"
                                    placeholder="{% trans 'Phone' %}"
                                    value="{% if address %}{{ address.phone }}{% endif %}"
                                    pattern="[0-9]{9}"
                                    size="9"
                                    maxlength="9"
                            >
                        </div>
                    </div>
                    <div {% if request.user.is_authenticated %}hidden{% endif %} class="form-group">
                        <input
                                type="email"
                                name="email"
                                id="id_email"
                                placeholder="E-mail"
                                value="{% if address %}{{ address.email }}{% endif %}">
                    </div>
                    <div {% if request.user.is_authenticated %}hidden{% endif %} class="form-group">
                        <textarea
                                name="address"
                                cols="40"
                                rows="5"
                                required=""
                                id="id_shipping_address"
                                placeholder="{{ address_example }}"
                        >{% if address %}{{ address.shipping_address }}{% endif %}</textarea>
                    </div>
                    <div class="form-actions">
                        <input
                                type="button"
                                name="login-submit"
                                id="login-submit"
                                tabindex="4"
                                class="form-control btn btn-grey"
                                value="{% trans 'Continue' %}"
                        >
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div id="add_address_modal"></div>
    {{ footer }}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var add_address_modal = $('#add_address_modal');
            $('#add_address').click(function (e) {
                e.preventDefault();
                $.get("{% url 'api:delivery_address_create' %}", function(response){
                    add_address_modal.html(response)
                });
            });
            $(document).on('click', '#add_popup .close', function () {
                add_address_modal.html('');
            });

            $(document).on('click', '#add_address_form_submit_btn', function (e) {
                var form = $('#delivery_address_add');
                var client_name = form.find('input[name="client_name"]').val();
                var address = form.find('#delivery_address').val();
                var email = form.find('input[name="email"]').val();
                var phone = form.find('input[name="phone"]').val();
                var is_default = form.find('input[name="is_default"]').val();
                console.log(is_default);
                var data = {
                    'client_name': client_name,
                    'address': address,
                    'email': email,
                    'phone': phone,
                    'is_default': is_default
                };

                $.post("{% url 'api:delivery_address_create' %}", data, function(response, status, xhr){
                    if (xhr.status === 201)
                    {
                        location.reload();
                    }
                    else
                    {
                        add_address_modal.html(response)
                    }
                });
            });

            var checkout_form = $('#checkout-form');

            $('.delivery_item').click(function (e) {
                $(this).siblings('.delivery_item').removeClass('active');
                $(this).addClass('active');
                var address = $(this).find('.address').text();
                var phone = $(this).find('.phone').data('phone');
                var email = $(this).find('.email');
                if (email)
                {
                }
                $("#id_email").val(email.text().trim());

                checkout_form.find('input[name="phone"]').val(phone);
                checkout_form.find('#id_shipping_address').val(address);
            });

            $('#login-submit').click(function (e) {
                e.preventDefault();
                var client_name = $('#id_client_name').val();
                var phone = $('#id_phone').val();
                var email = $('#id_email').val();
                var shipping_address = $('#id_shipping_address').val();

                if (client_name && phone && shipping_address)
                {
                    window.set_data_to_cookie(client_name, phone, email, shipping_address);
                    window.location.href = "{% url 'orders:time' %}";
                }
                else
                {
                    $.notify('Please, fill form correctly');
                }
            });
        });
    </script>
{% endblock %}