{% extends 'base.html' %}

{% load static i18n humanize products_extras %}

{% block title %}{% trans 'Checkout' %}{% endblock %}

{% block content %}
    {{ header }}
    <div id="main">
        {{ breadcrumbs }}
        <div class="order_steps">
            <ul class="steps">
                <li class="active"><a href="{% url 'orders:cart' %}">{% trans 'Cart' %}</a></li>
                <li class="active"><a href="{% url 'orders:address' %}">{% trans 'Delivery address' %}</a></li>
                <li class="active"><a href="{% url 'orders:time' %}">{% trans 'Delivery time' %}</a></li>
                <li class="active"><a href="{% url 'orders:payment_method' %}">{% trans 'Payment method' %}</a></li>
                <li class="active"><a href="{% url 'orders:checkout' %}">{% trans 'Checkout' %}</a></li>
            </ul>
        </div>
        <div id="checkout-last-section">
            <div class="wrapper_checkout_left">
                <div class="top">
                  <h2 class="title">{% trans 'Order preview' %}</h2>
                  <h2 class="user_name">{{ client_data.address.client_name }}</h2>
                </div>
                <div class="left">
                  <div class="information">
                    <div class="address">
                      <strong>{% trans 'Delivery address' %}:</strong>
                      <a href="{% url 'orders:address' %}">
                          {% trans 'change' %}
                      </a>
                        <div class="address_info">{{ client_data.address.shipping_address }}</div>
                        <ul>
                          <li><strong>{% trans 'Phone' %}:</strong>+998 {{ client_data.address.phone|phone_number }}</li>
                        {% if client_data.address.email %}
                            <li><strong>{% trans 'Email' %}:</strong> {{ client_data.address.email }}</li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="payment_and_time">
                        <div class="delivery_time">
                            <strong>{% trans 'Delivery time' %}:</strong>
                            <a href="{% url 'orders:time' %}">
                                {% trans 'change' %}
                            </a>
                            <div class="delivery_time_inner">
                                {% print_timestamp client_data.time as timer %}
                                {{ timer.0 }} - {{ timer.1 }}
                            </div>
                        </div>
                        <div class="payment-method">
                            <div>
                                <strong>{% trans 'Payment method' %}:</strong>
                                <a href="{% url 'orders:payment_method' %}">
                                    {% trans 'change' %}
                                </a>
                            </div>
                            {% get_payment client_data.payment_method as payment %}
                            <p class="payment_method">{{ payment.title }}</p>
                        </div>
                    </div>
                  </div>
                  <div class="products">
                    <h2 class="title">{% trans 'Ordered products' %}</h2>
                    {% for cart_item in cart_items %}
                        <div class="item">
                          <div class="item_logo">
                              <img src="{{ cart_item.variation.product.image_0.url }}" alt="">
                          </div>
                          <div class="item_information">
                            <p class="name">
                                <a href="{{ cart_item.variation.product.get_absolute_url }}">
                                  {{ cart_item.variation.product.name }}
                                <br> {{ cart_item.variation.name }} {{ cart_item.variation.product.volume }}
                                </a>
                            </p>
                            {% if cart_item.variation.color %}
                                <div style="" class="cart_item_color">{{ cart_item.variation.color.name }}</div>
                            {% endif %}
                            <p class="price">
                                <strong>
                                    <em class="red_color">
                                        {{ cart_item.variation.price|floatformat|intcomma }}
                                    </em>
                                </strong>
                                {% trans 'sum' %}
                            </p>
                            <p class="quantity">
                                {% trans 'Quantity' %}:
                                <em class="blue_color">
                                    {{ cart_item.count }}
                                </em>
                            </p>
                          </div>
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
            <div class="right">
                <div class="order">
                    <form id="order_form" action="" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="is_submitted" value="1">
                        <button href="#" id="order_button" type="submit" class="btn-yellow order_review_submit_btn">{% trans 'Place your order' %}</button>
                    </form>
                    <p class="privacy_and_terms">
                        By placing your order, you agree to Stroyshop's <a href="" target="_blank">privacy notice</a> and <a href="" target="_blank">conditions of use</a>.
                    </p>
                    <strong class="total">{% trans 'Order summary' %}</strong>
                    <p class="delivery_cost">
                        <span>{% trans 'Products' %} ({{ total_quantity }}):</span>
                        <em class="">{{ products_price|floatformat|intcomma }} {% trans 'sum' %}</em>
                    </p>
                    <p class="delivery_cost">
                        <span>{% trans 'Delivery' %}:*</span>
                        <em class="">{{ delivery_price|floatformat|intcomma }} {% trans 'sum' %}</em>
                    </p>
                    {% if client_data.need_porter == '1' %}
                        <p class="porter">
                            <span>{% trans 'Porter' %}:*</span>
                            <em class="">{{ delivery_price|floatformat|intcomma }} {% trans 'sum' %}</em>
                        </p>
                    {% endif %}
                    <p class="total_sum">
                        <span class="order_total_label">{% trans 'Order total' %}:</span>
                        <strong>{{ total_amount|floatformat|intcomma }}</strong> {% trans 'sum' %}
                    </p>
                </div>
            </div>
          </div>
    </div>
    {{ footer }}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
           {#$('#order_button').click(function (e) {#}
           {#    e.preventDefault();#}
           {#});#}
        });
    </script>
{% endblock %}
{% block css %}
    <style>
        #checkout-last-section .right
        {
            height: 220px !important;
        }
        .red_color
        {
            color: red;
        }
    </style>
{% endblock %}