{% extends 'base.html' %}

{% load i18n static %}

{% block title %}
    {% trans 'Uzcard pay' %}
{% endblock %}

{% block content %}
    {{ header }}
    <div id="main">
        {{ breadcrumbs }}
        <div id="payment-uzcard-section">
            <p class="total_quantity">Total quantity: 1</p>
            <p class="total_sum">Order total: 200$</p>
            <div class="rekvezit">
              <p>Введите реквизиты вашей банковской карты</p>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <p class="safe">Данные вашей карты не передаются данному сервису и сохраняются на безопасной территории сервиса <a href="https://payme.uz/start">Payme</a></p>
            </div>
            <div class="form-group">
              <div class="top">
                  <label for="card_number">Номер карты</label>
                  <input
                  required
                  class="form-control"
                  type="text"
                  id="card_number"
                  size="16"
                  maxlength="16"
                  value="8600134301849596"
                  >
              </div>
              <div class="bottom">
                <div class="poweredby">
                  <p>Powered by</p>
                  <img src="/media/filer_public/66/a2/66a215f8-bfec-456e-8176-8ea0b7a59412/payme_01_small.png" alt="Payme">
                </div>
                <div class="form-group-sms">
                    <label for="sms_number">Введите СМС для подтверждения оплаты</label>
                    <input
                    required
                    class="form-control"
                    type="text"
                    id="verification_number"
                    size="16"
                    maxlength="4"
                    value="5632"
                    >
                </div>
                <div class="form-group">
                  <label for="expire_date">Срок действия (Месяц/Год)</label>
                  <div class="input-append date" id="dpMonths" data-date="10/2018" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                    <input
                    required
                    id="expire_date"
                    class="span2 form-control"
                    size="16"
                    type="text"
                    value="0320"
                    readonly
                    >
                    <span class="add-on"><i class="icon-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="oferta">
              <p>Нажимая на кнопку "Продолжить", вы присоединяетесь к <a href="https://cdn.payme.uz/terms/main.html">условиям оферты.</a></p>
              <button class="payme_button_subscribe btn btn-success btn-grey" type="button">Продолжить</button>
            </div>
          </div>
    </div>
    {{ footer }}
{% endblock %}

{% block css %}
    <style>


    </style>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {


            var verification_has_card_number = "8600495473316478";

            var token, card_number, expire_date = null;
            var paycom_url = "https://checkout.test.paycom.uz/api";
            var backend_url = "/api/v1/payment/paycom/uzcard/";
            var x_auth = '5a2e656bde89097555cc9041';

            var step = 1;
            var method = "cards.create";
            var data;
            var id = 123;


            var order_id = 108;
            var customer_id = 998389478;
            var amount = 5000;


            $('.payme_button_subscribe').click(function () {
                if (method === 'cards.verify')
                {
                    var verfication_code = $('#verfication_code');
                    if (verfication_code.val().length === 0)
                    {
                        alert('Invalid verification code');
                        verfication_code.css({
                            'border': '1px solid red'
                        });
                        return false;
                    }
                }

                card_number = $('#card_number').val();
                expire_date = "0320";


                if(method === "cards.create")
                {
                    console.log('Method: ' + method);
                    console.log('Token: ' + token);
                    data = JSON.stringify({
                        "id": id,
                        "method": method,
                        "params": {
                            "card": {
                                "number": verification_has_card_number,
                                "expire": "0320"
                            },
                            "amount": amount,
                            "account": {
                                "order_id": order_id,
                                "customer_id": customer_id
                            },
                            "save": true
                        }
                    });

                    $.ajax({
                        type: 'POST',
                        url: backend_url,
                        data: {data: data},
                        success: function(resp){
                            if (resp.error)
                            {
                                alert(resp.error.message);
                                return false;
                            }
                            console.log(method);
                            console.log(resp);

                            token = resp.result.card.token;
                            method = 'cards.get_verify_code';

                        },
                        async:false
                    });

                    /* Verify, Sending new request with new data,  */
                    if (method === 'cards.get_verify_code')
                    {
                        console.log('Method: ' + method);
                        console.log('Token: ' + token);
                        data = JSON.stringify({
                            "id": id,
                            "method": 'cards.get_verify_code',
                            "params": {
                                "token":token
                            }
                        });
                        $.ajax({
                            type: 'POST',
                            url: backend_url,
                            data: {data: data},
                            success: function(resp){
                                if (resp.error)
                                {
                                    alert(resp.error.message);
                                    return false;
                                }
                                console.log(method);
                                console.log(resp);
                                method = 'cards.verify'
                            },
                            async:false
                        });
                    }

                }
                else if (method === 'cards.verify' )
                {
                    console.log('Method: ' + method);
                    console.log('Token: ' + token);
                    data = JSON.stringify({
                        "id": id,
                        "method": method,
                        "params": {
                            "token": token,
                            "code": "666666"
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: backend_url,
                        data: {data: data},
                        success: function(resp){
                                if (resp.error)
                                {
                                    alert(resp.error.message);
                                    return false;
                                }
                            console.log(method);
                            console.log(resp);
                            {#method = 'cards.check'#}
                        },
                        async:false
                    });
                }
                else if (step === 'cards.check' )
                {

                }
                else if (step === 'cards.remove' )
                {

                }




            });
        });
    </script>
{% endblock %}
