{% load i18n humanize %}
{% for cart_item in cart_items %}
        <div class="item">
            <img src="{{ cart_item.variation.product.get_default_image.url }}" style="width: 50px">
            <div class="description">
                <h2 class="cart_item_name">
                    <a href="{{ cart_item.variation.product.get_absolute_url }}">
                      {{ cart_item.variation.product.name }}
                    <br> {{ cart_item.variation.name }} {{ cart_item.variation.product.volume }}
                    </a>
                     </h2>

                    <div style="{% if cart_item.variation.color %}background-color: {{ cart_item.variation.color.color }};{% endif %}" class="cart_item_color"></div>

                <p class="cart_item_col">{{ cart_item.count }}</p>
                <p class="cart_item_sum">{{ cart_item.variation.price|floatformat|intcomma }} {% trans 'sum' %}</p>
            </div>
            <a href="" class="delete  delete_item" data-cart_item_id="{{ cart_item.id }}">X</a>
        </div>
    {% endfor %}
<p class="order_total">
    <span class="order_total_name">{% trans 'Order total' %}</span>
    <span class="order_total_sum"><em>{% if order_total %}{{ order_total|floatformat|intcomma }}{% else %}0{% endif %}</em> {% trans 'sum' %}</span>
</p>
<div class="buttons">
    <a href="{% url 'orders:cart' %}" class="button" id="item_view_cart">{% trans 'View cart' %}</a>
    <a href="{% url 'orders:address' %}" class="button" id="checkout">{% trans 'Checkout' %}</a>
</div>