{% extends 'base.html' %}
{% load i18n static humanize %}
{% block title %}
    {% trans 'Cart' %}
{% endblock %}
{% block content %}
    {{ header }}
    <div id="main">
        <div id="center">
            <section id="breadcrumbs">
                <a href="">Main</a>
                <a href="" class="last">Cart</a>
            </section>
            <section id="cart-content">
                <div id="page-title">
                    {% trans 'Cart items' %} ({{ cart_total_count }})
                </div>
                {% for cart_item in cart_items %}
                    <div class="product-row">
                        <form>
                            <div class="product-info">
                                <div class="image">
                                    <img src="{{ cart_item.variation.product.get_default_image.image.url }}" alt="">
                                </div>
                                <div class="title">
                                    <a href="{{ cart_item.variation.product.get_absolute_url }}">
                                        {{ cart_item.variation.product.name }} -
                                        {{ cart_item.variation.name }}
                                        {{ cart_item.variation.product.volume }}
                                    </a>
                                </div>
                                <div class="price">
                                    <strong><span class="price_total">{{ cart_item.total_price|floatformat|intcomma }}</span> {% trans 'sum' %} </strong>
                                </div>
                                <div class="isavailable">
                                    {% if cart_item.variation.product.is_available %}
                                        {% trans 'Available' %}
                                    {% else %}
                                        {% trans 'Not available' %}
                                    {% endif %}
                                </div>
                                <div class="quantity">
                                    <label>{% trans 'Quantity' %}</label>
                                    <input class="change_price_cart_item" data-price="{{ cart_item.variation.price|floatformat|intcomma }}" type="text" name="quantity" value="{{ cart_item.count }}" min="1">
                                    <div class="plus"></div>
                                    <div class="minus"></div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input class="save_item" data-variation_id="{{ cart_item.variation.id }}" type="submit" name="save" value="{% trans 'Save' %}">
                                <input class="delete_item" data-variation_id="{{ cart_item.variation.id }}" type="button" name="delete" value="{% trans 'Delete' %}">
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </section>
        </div>
        {% if cart_items.count %}
            <div id="right">
                <section id="checkout">
                    <div class="itog">
                        <h5>{% trans 'Total price' %}</h5>
                        <h2>{{ cart_total_price|floatformat|intcomma }} {% trans 'sum' %}</h2>
                        <a href="{% url 'orders:checkout' %}">{% trans 'Checkout' %}</a>
                    </div>
                </section>
            </div>
        {% endif %}
    </div>
    {{ footer }}
{% endblock %}
