{% extends 'base.html' %}
{% load static %}
{% load i18n humanize %}

{% block content %}
    {{ header }}
    <div id="main">
        {{ breadcrumbs }}
        <section id="address" style="font-size: 14px">
            <div class="col-md-4">
                <span>{% trans 'Total amount of order' %}: {{ total_amount|floatformat|intcomma }} {% trans 'sum' %}</span>
            </div>
            <div class="col-md-8">
                {% if not user.is_authenticated %}
                    <a href="{% url 'users:login' %}?next={{ request.path }}">{% trans 'Login' %}</a>
                    <h4>{% trans 'OR' %} {% trans 'Continue as guest' %}</h4>
                {% else %}
                    <h4>{% trans 'My delivery addresses' %}</h4>
                    <div class="block-content">
                        {% for delivery_address in delivery_addresses %}
                            <div class="row delivery_item">
                                <div class="default" data-is_default="{% if delivery_address.is_default %}1{% else %}0{% endif %}">
                                    {% if delivery_address.is_default %}
                                        <span>{% trans 'Default' %}:</span><span>stroyshop</span>
                                    {% endif %}
                                </div>
                                {% if delivery_address.email %}
                                    <div class="email">{{ delivery_address.email }}</div>
                                {% endif %}
                                <div class="address">{{ delivery_address.address }}</div>
                                <div class="phone" data-phone="{{ delivery_address.phone }}">
                                    Tel. : +998 {{ delivery_address.phone }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form id="checkout-form" action="" method="post" role="form" style="display: block;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="client_name" maxlength="60"
                               required="" id="id_client_name"
                               placeholder="{% trans 'Client name' %}"
                               value="{% if request.user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}"
                        >
                        {% if form.client_name.errors %}
                            <div class="help-block">
                                {{ form.client_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="input-group prefix">
                            <span class="input-group-addon">+998</span>
                            <input
                                    required
                                    type="text"
                                    name="phone"
                                    id="id_phone"
                                    class="form-control"
                                    placeholder="{% trans 'Phone' %}"
                                    value="{% if request.user.is_authenticated %}{{ default_address.phone }}{% endif %}"
                                    pattern="[0-9]{9}"
                                    size="9"
                                    maxlength="9"
                            >
                        </div>
                        {% if form.phone.errors %}
                            <div class="help-block">
                                {{ form.phone.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <textarea name="shipping_address" cols="40" rows="10" required=""
                                  id="id_shipping_address"
                                  placeholder="{% trans 'Shipping address' %}">{% if user.is_authenticated %}{{ default_address.address }}{% endif %}</textarea>
                        {% if form.shipping_address.errors %}
                            <div class="help-block">
                                {{ form.shipping_address.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                       class="form-control btn btn-login" value="{% trans 'Continue' %}">
                    </div>
                </form>
            </div>
        </section>
    </div>

    {{ footer }}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
           $('.delivery_item').click(function (e) {
              var address = $(this).find('.address').text();
              var phone = $(this).find('.phone').data('phone');
              var checkout_form = $('#checkout-form');

              checkout_form.find('input[name="phone"]').val(phone);
              checkout_form.find('#id_shipping_address').val(address);
           });
        });
    </script>
{% endblock %}