{% extends 'base.html' %}

{% load i18n static humanize %}

{% block title %}{{ request.META.HTTP_HOST }}|{% trans 'Home' %}{% endblock %}

{% block content %}
    {{ header }}
    {{ banner }}
    <section id="partners">
        <div class="owl-carousel">
            {% for brand in brands %}
                <div class="row">
                    <a href="{% url 'products:product_list' slug='all' %}?brand={{ brand.pk }}">
                        <img src="{{ brand.logo.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="iseasy">
        <div class="block-title">
            {% trans 'Working with us very easy' %}
        </div>
        <div class="block-content">
            <div>
                <span>{% trans 'Choose a product' %}</span>
            </div>
            <div>
                <span>{% trans 'Payment method' %}</span>
            </div>
            <div>
                <span>{% trans "And we'll deliver your order" %}</span>
            </div>
        </div>
    </section>
    <section id="quick">
        <div class="block-title">
            {% trans 'Quick access' %}
        </div>
        <div class="block-content">
            <div>
                <a href="">Vodo emulsii</a>
            </div>
            <div>
                <a href="">Kraski</a>
            </div>
        </div>
    </section>
    <section id="toprod">
        <div class="block-title">
            {% trans 'Top products of Stroyshop' %}
        </div>
        <div class="block-content">
            <div class="owl-carousel">
                {% for top_product in top_products %}
                    <div class="product-row">
                        <div class="image">
                            <img src="{{ top_product.get_default_image.url }}">
                        </div>
                        <div class="title">
                            <a href="{{ top_product.get_absolute_url }}">
                                {{ top_product.name }} -
                                <span class="product_variation">
                                    {{ top_product.get_default_variation }} {{ top_product.volume }}
                                </span>
                            </a>
                        </div>
                        <div class="price">
                            <strong>
                                <span class="price_display">{{ top_product.get_price|floatformat|intcomma }}</span>
                                {% trans 'sum' %}
                            </strong>
                        </div>
                        <div class="addtocart">
                            <form class="product_cart_add_form" action="">
                                <input type="hidden" name="quantity" value="1"
                                       data-variation="{{ top_product.get_default_variation.pk }}">
                                <button type="submit">{% trans 'Add to cart' %}</button>
                            </form>
                        </div>
                        <div class="variation product_list_variation_list">
                            <div class="weight">
                                <ul>
                                    {% for variation in top_product.get_variations %}
                                        <li class="product_list_variation" data-variation="{{ variation.pk }}"
                                            data-price="{{ variation.price|floatformat|intcomma }}">
                                            <span>{{ variation.name }} {{ top_product.volume }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if top_product.get_variations.0.color %}
                                <div class="color">
                                    <ul>
                                        {% for variation in top_product.get_variations %}
                                            <li>
                                                <span class="red" style="background-color: {{ variation.color }}">
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="block-footer">
            <a href="{% url 'products:product_list' slug='all' %}">{% trans 'More products' %}</a>
        </div>
    </section>
    <section id="superprice">
        <div class="owl-carousel">
            <div class="row">
                <div class="image">
                    <img src="{% static 'images/superprice.jpg' %}">
                </div>
                <div class="title">
                    Superprice!
                </div>
                <div class="subtitle">
                    Tovari po ochenama nizkiy tsena vasya
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="link">
                    <a href="">More products</a>
                </div>
            </div>
            <div class="row">
                <div class="image">
                    <img src="{% static 'images/superprice.jpg' %}">
                </div>
                <div class="title">
                    Superprice!
                </div>
                <div class="subtitle">
                    Tovari po ochenama nizkiy tsena vasya
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="link">
                    <a href="">More products</a>
                </div>
            </div>
            <div class="row">
                <div class="image">
                    <img src="{% static 'images/superprice.jpg' %}">
                </div>
                <div class="title">
                    Superprice!
                </div>
                <div class="subtitle">
                    Tovari po ochenama nizkiy tsena vasya
                </div>
                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="link">
                    <a href="">More products</a>
                </div>
            </div>
        </div>
    </section>
    <section id="feedbacks">
        <div class="owl-carousel">
            {% for review in reviews %}
                <div class="row">
                    <div class="image">
                        <img src="{% static 'images/face.jpg' %}">
                    </div>
                    <div class="text">
                        <div class="title">
                            {{ review.subject }}
                        </div>
                        <div class="body">
                            {{ review.text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {{ footer }}
{% endblock %}