{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans 'Order info' %}
{% endblock %}
{% block content %}
    {{ header }}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h2 class="page_title">
                                    {% trans 'Order info' %}
                                </h2>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Идентификатор заказа</th>
                                            <th>Статус заказа</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ order.order_unique_id }}</td>
                                            <td>{{ order.get_status }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    {{ footer }}
{% endblock %}
