{% extends 'base.html' %}
{% load static mptt_tags i18n humanize %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
{{ header }}
{% full_tree_for_model products.Category as cat_tree %}
<div id="main">
    <div id="left">
        <section id="category">
            <h2>{% trans 'Choose category' %}</h2>
            <ul>
                {% recursetree cat_tree %}
                    <li class="{% if not node.is_leaf_node %}expanded{% endif %}">
                        <a href="{% url 'products:product_list' slug=node.slug %}">
                            {{ node.name }}
                        </a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </section>
        <section id="filter">
            <h2>{% trans 'Filter' %}</h2>
            <br>
            <div class="filter">
                <form id="brand_filter" action="{{ request.get_full_path }}" method="get">
                    {% for brand in brands %}
                        <div class="form-group">
                            <label for="brand_{{ brand.id }}">
                                {{ brand.name }}
                            </label>
                            <input {% if brand.id|stringformat:"i" in selected_brands %}
                                checked
                            {% endif %} name="brand" id="brand_{{ brand.id }}" type="checkbox" value="{{ brand.id }}">
                        </div>
                    {% endfor %}
                    <input type="submit" />
                </form>
            </div>
        </section>
        <section id="recommend">
            <h2>{% trans 'Recommended products' %}</h2>
            <div class="block-content">
                {% for recommended_product in recommended_products %}
                    <div class="product-row">
                        <div class="image">
                            <img src="{{ recommended_product.get_default_image.url }}">
                        </div>
                        <div class="title">
                            <a href="{{ recommended_product.get_absolute_url }}">
                                {{ recommended_product.name }}
                            </a>
                        </div>
                        <div class="price">
                            <strong>
                                <span class="price_display">{{ recommended_product.get_price|floatformat|intcomma }}</span>
                                {% trans 'sum' %}
                            </strong>
                        </div>
                        <div class="addtocart">
                            <form class="product_cart_add_form" action="">
                                <input type="hidden" name="quantity" value="1" data-variation="{{ recommended_product.get_default_variation.pk }}">
                                <button type="submit">{% trans 'Add to cart' %}</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <div id="center">
        {{ breadcrumbs }}
        <section id="inner-slider">
            <div class="owl-carousel">
                <div class="row">
                    <img src="{% static 'images/baner.JPG' %}">
                    <span>Super prochniy kraska "Sico"</span>
                    <button>Buy</button>
                </div>
                <div class="row">
                    <img src="{% static 'images/baner.JPG' %}">
                    <span>Super prochniy kraska "Sico"</span>
                    <button>Buy</button>
                </div>
                <div class="row">
                    <img src="{% static 'images/baner.JPG' %}">
                    <span>Super prochniy kraska "Sico"</span>
                    <button>Buy</button>
                </div>
            </div>
        </section>
        <section id="sort">
            <div class="found">{% trans 'Found products' %}: <span>{{ object_list.count }}</span></div>
            <div class="">
                <form action="{{ request.get_full_path }}">
                    <label for="order_by">{% trans 'Sorting' %}:</label>
                    <select name="order_by" id="order_by">
                        {% for key, order  in orders %}
                            <option value="{{ key }}">
                                {{ order }}
                            </option>
                        {% endfor %}

                    </select>
                </form>
            </div>
        </section>
        <section id="products">
            <div class="block-content">
                {% for product in object_list %}
                    <div class="product-row">
                        <div class="image">
                            <img src="{{ product.get_default_image.url }}">
                        </div>
                        <div class="title">
                            <a href="{{ product.get_absolute_url }}">
                                {{ product.name }} -
                                <span class="product_variation">{{ product.get_default_variation }} {{ product.volume }}</span>
                            </a>
                        </div>
                        <div class="price">
                            <strong>
                                <span class="price_display">{{ product.get_price|floatformat|intcomma }}</span>
                                {% trans 'sum' %}
                            </strong>
                        </div>
                        <div class="addtocart">
                            <form class="product_cart_add_form" action="">
                                <input type="hidden" name="quantity" value="1" data-variation="{{ product.get_default_variation.pk }}">
                                <button type="submit">{% trans 'Add to cart' %}</button>
                            </form>
                        </div>
                        <div class="variation product_list_variation_list">
                            <div class="weight">
                                <ul>
                                    {% for variation in product.get_variations %}
                                        <li class="product_list_variation" data-variation="{{ variation.pk }}" data-price="{{ variation.price|floatformat|intcomma }}"><span>{{ variation.name }} {{ product.volume }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if product.get_variations.0.color %}
                                <div class="color">
                                    <ul>
                                        {% for variation in product.get_variations %}
                                            <li><span class="red" style="background-color: {{ variation.color.color }}"></span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'parts/pagination.html' %}
        </section>
    </div>
</div>
{{ footer }}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {

            function addParameter(url, parameterName, parameterValue, atStart/*Add param before others*/){
                replaceDuplicates = true;
                if(url.indexOf('#') > 0){
                    var cl = url.indexOf('#');
                    urlhash = url.substring(url.indexOf('#'),url.length);
                } else {
                    urlhash = '';
                    cl = url.length;
                }
                sourceUrl = url.substring(0,cl);

                var urlParts = sourceUrl.split("?");
                var newQueryString = "";

                if (urlParts.length > 1)
                {
                    var parameters = urlParts[1].split("&");
                    for (var i=0; (i < parameters.length); i++)
                    {
                        var parameterParts = parameters[i].split("=");
                        if (!(replaceDuplicates && parameterParts[0] == parameterName))
                        {
                            if (newQueryString == "")
                                newQueryString = "?";
                            else
                                newQueryString += "&";
                            newQueryString += parameterParts[0] + "=" + (parameterParts[1]?parameterParts[1]:'');
                        }
                    }
                }
                if (newQueryString == "")
                    newQueryString = "?";

                if(atStart){
                    newQueryString = '?'+ parameterName + "=" + parameterValue + (newQueryString.length>1?'&'+newQueryString.substring(1):'');
                } else {
                    if (newQueryString !== "" && newQueryString != '?')
                        newQueryString += "&";
                    newQueryString += parameterName + "=" + (parameterValue?parameterValue:'');
                }
                return urlParts[0] + newQueryString + urlhash;
            }

            $('#order_by').change(function (e) {
                var href = location.href;
                var name = $(this).attr('name');
                var value = $(this).val();
                location = addParameter(href, 'order_by', value, true)
            })
        });
    </script>
{% endblock %}