{% extends 'base.html' %}
{% load static mptt_tags i18n humanize products_extras %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
{{ header }}
{% full_tree_for_model products.Category as cat_tree %}
<div id="main">
    <div id="left">
        <section id="category">
            <h2>{% trans 'Choose category' %}</h2>
            <ul>
                {% recursetree cat_tree %}
                    <li class="{% if not node.is_leaf_node %}expanded{% endif %}">
                        <a href="{% url 'products:product_list' slug=node.slug %}">
                            {{ node.name }}
                        </a>
                        {{ node|get_brands }}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </section>
        <section id="filter">
            <h2>{% trans 'Brands' %}</h2>
            <br>
            <div class="filter">
                <form id="brand_filter" action="{{ request.get_full_path }}" method="get">
                    {% for brand in brands %}
                        <div class="form-group">
                            <input {% if brand.id|stringformat:"i" in selected_brands %}
                                checked
                            {% endif %} name="brand" id="brand_{{ brand.id }}" type="checkbox" value="{{ brand.id }}">
                            <label for="brand_{{ brand.id }}">
                                {{ brand.name }}
                            </label>
                        </div>
                    {% endfor %}
                    <input type="submit" />
                </form>
            </div>
        </section>
        <section id="recommend">
            <h2>{% trans 'Recommended products' %}</h2>
            <div class="block-content">
                {% for recommended_product in recommended_products %}
                    <div class="product-row">
                        <div class="image">
                            <img src="{{ recommended_product.get_default_image.url }}">
                        </div>
                        <div class="title">
                            <a href="{{ recommended_product.get_absolute_url }}">
                                {{ recommended_product.name }}
                            </a>
                        </div>
                        <div class="price">
                            <strong>
                                <span class="price_display">{{ recommended_product.get_price|floatformat|intcomma }}</span>
                                {% trans 'sum' %}
                            </strong>
                        </div>
                        <div class="addtocart" style="display: none;">
                            <form class="product_cart_add_form" action="">
                                <input type="hidden" name="quantity" value="1" data-variation="{{ recommended_product.get_default_variation.pk }}">
                                <button type="submit">{% trans 'Add to cart' %}</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
    <div id="center">
        {{ breadcrumbs }}
        <section id="inner-slider">
            <div class="owl-carousel">
                <div class="row">
                    <img src="{% static 'images/baner.JPG' %}">
                    <span>Super prochniy kraska "Sico"</span>
                    <button>Buy</button>
                </div>
                <div class="row">
                    <img src="{% static 'images/baner.JPG' %}">
                    <span>Super prochniy kraska "Sico"</span>
                    <button>Buy</button>
                </div>
                <div class="row">
                    <img src="{% static 'images/baner.JPG' %}">
                    <span>Super prochniy kraska "Sico"</span>
                    <button>Buy</button>
                </div>
            </div>
        </section>
        <section id="sort">
            <div class="found"><span>{{ object_list.count }} {% trans 'products' %}</span></div>
            <div class="sorting">
                <form action="{{ request.get_full_path }}">
                    <label for="order_by">{% trans 'Sorting' %}:</label>
                    <select name="order_by" id="order_by">
                        {% for key, order  in orders %}
                            <option value="{{ key }}">
                                {{ order }}
                            </option>
                        {% endfor %}

                    </select>
                </form>
            </div>
        </section>
        <section id="products">
            <div class="block-content">
                {% for product in object_list %}
                    <div class="product-row">
                        <div class="image">
                            <img src="{{ product.get_default_image.url }}">
                        </div>
                        <div class="title">
                            <a href="{{ product.get_absolute_url }}">
                                {{ product.name }} <span class="product_variation"></span> <span class="product_color"></span>
                            </a>
                        </div>
                        <div class="price">
                            <strong>
                                <span class="price_display">{{ product.get_price|floatformat|intcomma }}</span>
                                <span class="price_label">{% trans 'sum' %}</span>
                            </strong>
                        </div>
                        <div style="display: none;" class="addtocart">
                            <form class="product_cart_add_form" action="">
                                <input type="hidden" name="quantity" value="1" data-variation="{{ product.get_default_variation.pk }}">
                                <button type="submit">{% trans 'Add to cart' %}</button>
                            </form>
                        </div>
                        <div class="variation product_list_variation_list">
                            <div class="weight">
                                <ul>
                                    {% for variation in product.get_variations %}
                                        <li
                                            class="product_list_variation"
                                            data-variation="{{ variation.pk }}"
                                            data-product_id="{{ variation.product_id }}"
                                            data-variation_name="{{ variation.name }}"
                                            data-quantity="{{ variation.quantity }}"
                                            data-price="{{ variation.price }}"
                                            data-color_has="{% if variation.color %}1{% else %}0{% endif %}"
                                        >
                                            <span>{{ variation.name }} {{ product.volume }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if product.get_variations.0.color %}
                                <div class="color"><ul class="colors_set"></ul></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'parts/pagination.html' %}
        </section>
    </div>
</div>
{{ footer }}
{% endblock %}
{% block js %}
    <script>

    </script>
{% endblock %}