<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout last</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/custom_style.css">
</head>

<body>
  <div id="checkout-last-section">
    <div class="logo">logo</div>
    <div class="top">
      <h2 class="title">review your order</h2>
      <h2 class="user_name">user</h2>
    </div>
    <div class="left">
      <div class="information">
        <div class="address">
          <strong>shipping address</strong>
          <a href="#">change</a>
        </div>
        <div class="payment_method">
          <strong>payment method</strong>
          <a href="#">change</a>
        </div>
      </div>
      <div class="products">
        <h2 class="title">items shipped from stroyshop</h2>
        <div class="item">
          <div class="item_logo">logo</div>
          <div class="item_information">
            <p class="name">item name</p>
            <p class="price">item price</p>
            <p class="quantity">item quantity</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="order">
        <strong class="total">order summary</strong>
        <p class="total_quantity">total quantity: 1</p>
        <p class="total_sum">order total: 200$</p>
        <a href="#" class="button">Сделать заказ</a>
      </div>
    </div>
  </div>
</body>

</html>