<!DOCTYPE html>
<html>

<head>
    <title>StroyShop main page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/fancy.css">
    <link rel="stylesheet" type="text/css" href="plugins/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontawesome/font-awesome.min.css">
    <script src="js/scripts.js"></script>
</head>

<body class="product-page">
    <header id="header">
        <div class="header-top">
            <div id="user-block">
                <p>
                    <a href="/login" class="login">Login</a></p>
                <p>
                    <a href="/register" class="register">Registration</a></p>
            </div>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/logo.png">
            </a>
        </div>
        <div class="header-bottom">
            <div id="search-block">
                <form>
                    <input type="text" name="search" placeholder="Search product">
                    <input type="submit" name="submit" value="&#xf002;">
                </form>
            </div>
            <div id="cart-info">
                <div class="numbers-block">
                    <p>
                        <span>+998 (97) 430-60-70</span>
                        <span>+998 (97) 430-60-70</span>
                    </p>
                </div>
                <div class="cart-block">
                    <p>
                        <span>Cart</span>
                        <span>1,587 300 sum</span>
                    </p>
                </div>
                <div class="checkout-block">
                    <button>Checkout</button>
                </div>
            </div>
            <div id="menu-block">
                <ul>
                    <li class="expanded">
                        <a href="">Product categories</a>
                        <ul>
                            <h2>Catalog</h2>
                            <li>
                                <a href="">Category link</a>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li class="expanded">
                                                <a href="">Category link</a>
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="/images/brand1.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand2.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand3.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand4.png"></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Delivery</a>
                    </li>
                    <li>
                        <a href="">Payment</a>
                    </li>
                    <li>
                        <a href="">Contacts</a>
                    </li>
                    <li>
                        <a href="">Something else</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main">
        <section id="breadcrumbs">
            <a href="">Main</a>
            <a href="">My StroyShop</a>
            <a href="" class="last">Orders history</a>
        </section>
        <section id="history">
            <h1 id="page-title">Orders history</h1>
            <div class="content">
                <div class="row">
                    <div class="row-title">
                        <div class="date">
                            <span>Order date</span>
                            <span>18-March 2018</span>
                        </div>
                        <div class="summa">
                            <span>Summa</span>
                            <span>1 550 000 sum</span>
                        </div>
                        <div class="delivery">
                            <span>Deliver to</span>
                            <div class="delto">
                                <div class="title">maqsud@dst.uz</div>
                                <div class="description">
                                    <strong>maqsud@dst.uz</strong>
                                    <p>Yakkasaroy asjdhasjkdh asdjhasjkd asdhajksh asdhjas asdhajks asdasd</p>
                                    <strong>Tel.: +998 99 999 99 99</strong>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="">Information</a>
                            <a href="">Schot</a>
                        </div>
                    </div>
                    <div class="row-content">
                        <h2>Dostavlen 19-march 2018</h2>
                        <span>vash zakaz bil prinyatvasya</span>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row-title">
                        <div class="date">
                            <span>Order date</span>
                            <span>18-March 2018</span>
                        </div>
                        <div class="summa">
                            <span>Summa</span>
                            <span>1 550 000 sum</span>
                        </div>
                        <div class="delivery">
                            <span>Deliver to</span>
                            <div class="delto">
                                <div class="title">maqsud@dst.uz</div>
                                <div class="description">
                                    <strong>maqsud@dst.uz</strong>
                                    <p>Yakkasaroy asjdhasjkdh asdjhasjkd asdhajksh asdhjas asdhajks asdasd</p>
                                    <strong>Tel.: +998 99 999 99 99</strong>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="">Information</a>
                            <a href="">Schot</a>
                        </div>
                    </div>
                    <div class="row-content">
                        <h2>Dostavlen 19-march 2018</h2>
                        <span>vash zakaz bil prinyatvasya</span>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row-title">
                        <div class="date">
                            <span>Order date</span>
                            <span>18-March 2018</span>
                        </div>
                        <div class="summa">
                            <span>Summa</span>
                            <span>1 550 000 sum</span>
                        </div>
                        <div class="delivery">
                            <span>Deliver to</span>
                            <div class="delto">
                                <div class="title">maqsud@dst.uz</div>
                                <div class="description">
                                    <strong>maqsud@dst.uz</strong>
                                    <p>Yakkasaroy asjdhasjkdh asdjhasjkd asdhajksh asdhjas asdhajks asdasd</p>
                                    <strong>Tel.: +998 99 999 99 99</strong>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <a href="">Information</a>
                            <a href="">Schot</a>
                        </div>
                    </div>
                    <div class="row-content">
                        <h2>Dostavlen 19-march 2018</h2>
                        <span>vash zakaz bil prinyatvasya</span>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Delux Fasadnaya kraska 9kg White
                            </div>
                            <div class="price">35 000 sum</div>
                            <div class="quantity">
                                <span>kolichestvo</span><span>1</span>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="block-footer">
                <div id="pager">
                    <ul>
                        <li class="prev">
                            <a href="">Back</a>
                        </li>
                        <li>
                            <a href="">1</a>
                        </li>
                        <li>
                            <a href="">2</a>
                        </li>
                        <li class="active">
                            <a href="">3</a>
                        </li>
                        <li>
                            <a href="">4</a>
                        </li>
                        <li>
                            <a href="">5</a>
                        </li>
                        <li class="next">
                            <a href="">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <a class="home" href="">stroyshop.uz</a>
        <div class="footer-top">
            <span class="gotop">Go top</span>
            <div class="socials">
                <a href="">facebook</a>
                <a href="">insta</a>
                <a href="">tg</a>
            </div>
            <div class="shopnum">
                <span>No1 online shop stroyshoppinga</span><img src="/images/car.png">
            </div>
        </div>
        <div class="footer-content">
            <div class="logo">
                <a href="/">
                <img src="images/logo.png">
            </a></div>
            <div class="copyright">
                <p>Compyrights C stroyshop</p>
                <p>All rights reserved</p>
                <p>Say naxoditsa d zone TAS-IX</p>
            </div>
            <div class="forusers">
                <h2>For Users</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="forsellers">
                <h2>For customers</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="address">
                <h2>Our address</h2>
                <p>Fuck'in st., Naked country, Bitch region, 6 h. 10000111</p>
            </div>
            <div class="contacts">
                <p>+998 71 251 00 55</p>
                <p>+998 71 251 00 55</p>
                <p>info@stroyshop.uz</p>
            </div>
        </div>
    </footer>
</body>

</html>