<!DOCTYPE html>
<html>

<head>
    <title>StroyShop main page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/fancy.css">
    <link rel="stylesheet" type="text/css" href="plugins/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontawesome/font-awesome.min.css">
    <script src="js/scripts.js"></script>
</head>

<body class="product-page">
    <header id="header">
        <div class="header-top">
            <div id="user-block">
                <p>
                    <a href="/login" class="login">Login</a></p>
                <p>
                    <a href="/register" class="register">Registration</a></p>
            </div>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/logo.png">
            </a>
        </div>
        <div class="header-bottom">
            <div id="search-block">
                <form>
                    <input type="text" name="search" placeholder="Search product">
                    <input type="submit" name="submit" value="&#xf002;">
                </form>
            </div>
            <div id="cart-info">
                <div class="numbers-block">
                    <p>
                        <span>+998 (97) 430-60-70</span>
                        <span>+998 (97) 430-60-70</span>
                    </p>
                </div>
                <div class="cart-block">
                    <p>
                        <span>Cart</span>
                        <span>1,587 300 sum</span>
                    </p>
                </div>
                <div class="checkout-block">
                    <button>Checkout</button>
                </div>
            </div>
            <div id="menu-block">
                <ul>
                    <li class="expanded">
                        <a href="">Product categories</a>
                        <ul>
                            <h2>Catalog</h2>
                            <li>
                                <a href="">Category link</a>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li class="expanded">
                                                <a href="">Category link</a>
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="/images/brand1.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand2.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand3.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand4.png"></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Delivery</a>
                    </li>
                    <li>
                        <a href="">Payment</a>
                    </li>
                    <li>
                        <a href="">Contacts</a>
                    </li>
                    <li>
                        <a href="">Something else</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main">
        <section id="breadcrumbs">
            <a href="">Main</a>
            <a href="">My StroyShop</a>
            <a href="">Orders history</a>
            <a href="" class="last">Order info</a>
        </section>
        <section id="order-info">
            <h1 id="page-title">Order info</h1>
            <span class="desc">Order to 18-march 2018</span>
            <a href="" class="print">Print</a>
            <div class="order-info">
                <div class="information">
                    <div class="address">
                        <h5>Order address</h5>
                        <p>Yakkasaroy tumani, Muqimiy kochasi, birbalo uy, dsjfnklngjsf g 10000 kochasi, birbalo uy, kochasi, birbalo uy</p>
                        <span>Tel. : +998 90 999-99-99</span>
                    </div>
                    <div class="payment-method">
                        <h5>Payment method</h5>
                        <p>Nalichnimi</p>
                    </div>
                    <div class="itog">
                        <h5>Itog zakaza</h5>
                        <p>Summa tovarov:<span>155 000 sum</span></p>
                        <p>Sena dostavki:<span>17 000 sum</span></p>
                        <p>Skidka:<span>0%</span></p>
                    </div>
                    <div class="last">
                        <p>
                            <span>Konechnaya summa:</span>
                            <span>172 000 sum</span>
                        </p>
                    </div>
                </div>
                <div class="transaction">
                    <h3>Transactions</h3>
                    <div class="summa">
                        <h5>Summa</h5>
                        <p>172 000 sum</p>
                    </div>
                    <div class="method">
                        <h5>Payment method</h5>
                        <p>Nalichniye</p>
                    </div>
                    <div class="oplacheno">
                        <h5>Oplacheno</h5>
                        <p>19-march 2018</p>
                    </div>
                    <div class="itog">
                        <h5>Itogo</h5>
                        <span>172 000 sum</span>
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="block-title">
                    2 tovarov
                </div>
                <div class="block-content">
                    <h2>Dostavleni 20-march 2018</h2>
                    <div class="product-row">
                        <div class="image">
                            <img src="images/prod.png">
                        </div>
                        <div class="title">
                            Delux Fasadnaya kraska 9kg White
                        </div>
                        <div class="price">35 000 sum</div>
                        <div class="quantity">
                            <span>kolichestvo</span><span>1</span>
                        </div>
                    </div>
                    <div class="product-row">
                        <div class="image">
                            <img src="images/prod.png">
                        </div>
                        <div class="title">
                            Delux Fasadnaya kraska 9kg White
                        </div>
                        <div class="price">35 000 sum</div>
                        <div class="quantity">
                            <span>kolichestvo</span><span>1</span>
                        </div>
                    </div>
                    <div class="product-row">
                        <div class="image">
                            <img src="images/prod.png">
                        </div>
                        <div class="title">
                            Delux Fasadnaya kraska 9kg White
                        </div>
                        <div class="price">35 000 sum</div>
                        <div class="quantity">
                            <span>kolichestvo</span><span>1</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <a class="home" href="">stroyshop.uz</a>
        <div class="footer-top">
            <span class="gotop">Go top</span>
            <div class="socials">
                <a href="">facebook</a>
                <a href="">insta</a>
                <a href="">tg</a>
            </div>
            <div class="shopnum">
                <span>No1 online shop stroyshoppinga</span><img src="/images/car.png">
            </div>
        </div>
        <div class="footer-content">
            <div class="logo">
                <a href="/">
                <img src="images/logo.png">
            </a></div>
            <div class="copyright">
                <p>Compyrights C stroyshop</p>
                <p>All rights reserved</p>
                <p>Say naxoditsa d zone TAS-IX</p>
            </div>
            <div class="forusers">
                <h2>For Users</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="forsellers">
                <h2>For customers</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="address">
                <h2>Our address</h2>
                <p>Fuck'in st., Naked country, Bitch region, 6 h. 10000111</p>
            </div>
            <div class="contacts">
                <p>+998 71 251 00 55</p>
                <p>+998 71 251 00 55</p>
                <p>info@stroyshop.uz</p>
            </div>
        </div>
    </footer>
    <div class="popup">
        <div class="container">
            <div class="tabs-title">
                <span class="login active">Login</span>
                <span class="register">Registration</span>
            </div>
            <div class="tabs-content">
                <div class="login">
                    <h2 class="block-title">Login</h2>
                    <div class="socials">
                        <a href="" class="google">Login via Google</a>
                        <a href="" class="facebook">Login via Facebook</a>
                    </div>
                    <div class="delimeter">
                        <span>or</span>
                    </div>
                    <div class="form">
                        <form>
                            <input type="text" name="email" placeholder="E-mail or phone number">
                            <input type="password" name="password" placeholder="Password">
                            <input type="submit" name="submit" value="Login">
                        </form>
                    </div>
                </div>
                <div class="registration">
                    <h2 class="block-title">Registration</h2>
                    <div class="socials">
                        <a href="" class="google">Via Google</a>
                        <a href="" class="facebook">Via Facebook</a>
                    </div>
                    <div class="delimeter">
                        <span>or</span>
                    </div>
                    <div class="form">
                        <form>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="surname" placeholder="Surname">
                            <input type="email" name="email" placeholder="E-mail">
                            <input type="text" name="phone" placeholder="Phone number">
                            <input type="text" name="city" placeholder="City">
                            <input type="text" name="address" placeholder="Address">
                            <input type="password" name="password" placeholder="Password">
                            <input type="password" name="password-submit" value="Password submit">
                            <input type="submit" name="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>