<!DOCTYPE html>
<html>

<head>
    <title>StroyShop main page</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="plugins/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontawesome/font-awesome.min.css">
    <script src="js/scripts.js"></script>
</head>

<body class="product-page">
    <header id="header">
        <div class="header-top">
            <div id="user-block">
                <p>
                    <a href="/login" class="login">Login</a></p>
                <p>
                    <a href="/register" class="register">Registration</a></p>
            </div>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/logo.png">
            </a>
        </div>
        <div class="header-bottom">
            <div id="search-block">
                <form>
                    <input type="text" name="search" placeholder="Search product">
                    <input type="submit" name="submit" value="&#xf002;">
                </form>
            </div>
            <div id="cart-info">
                <div class="numbers-block">
                    <p>
                        <span>+998 (97) 430-60-70</span>
                        <span>+998 (97) 430-60-70</span>
                    </p>
                </div>
                <div class="cart-block">
                    <p>
                        <span>Cart</span>
                        <span>1,587 300 sum</span>
                    </p>
                </div>
                <div class="checkout-block">
                    <button>Checkout</button>
                </div>
            </div>
            <div id="menu-block">
                <ul>
                    <li class="expanded">
                        <a href="">Product categories</a>
                        <ul>
                            <h2>Catalog</h2>
                            <li>
                                <a href="">Category link</a>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li class="expanded">
                                                <a href="">Category link</a>
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="/images/brand1.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand2.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand3.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand4.png"></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Delivery</a>
                    </li>
                    <li>
                        <a href="">Payment</a>
                    </li>
                    <li>
                        <a href="">Contacts</a>
                    </li>
                    <li>
                        <a href="">Something else</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main">
        <section id="breadcrumbs">
            <a href="">Main</a>
            <a href="" class="last">Cart</a>
        </section>
        <section id="product-content">
            <div id="page-title">
                Korzina pokupok (4)
            </div>
            <div class="product-info">
                <div class="images">
                    <img src="images/prod.png">
                    <img src="images/prod.png">
                    <img src="images/prod.png">
                    <img src="images/prod.png">
                    <img src="images/prod.png">
                </div>
                <div class="category">Vodoemulsiya</div>
                <div class="title">
                    Kraska fasadnaya fakturnaya yesho shtoto Hayat 10kg
                </div>
                <div class="price">
                    <strong>99.900 sum </strong><span>/ im</span>
                </div>
                <div class="isavailable">
                    <label>Dostupno:</label><span>Available</span>
                </div>
                <div class="weight">
                    <label>Fasovka:</label>
                    <ul>
                        <li><span>9 kg</span></li>
                        <li><span>11 kg</span></li>
                        <li><span>13 kg</span></li>
                        <li><span>15 kg</span></li>
                    </ul>
                </div>
                <div class="color">
                    <label>Color</label><span>Red</span>
                    <ul>
                        <li><span class="red" class="active"></span></li>
                        <li><span class="blue"></span></li>
                        <li><span class="green"></span></li>
                        <li><span class="black"></span></li>
                        <li><span class="white"></span></li>
                        <li><span class="pink"></span></li>
                    </ul>
                </div>
                <div class="likethis">
                    <h2>Poxojiye tovary</h2>
                    <div class="block-content">
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Kraska fasadnaya fakturnaya yesho shtoto Hayat 10kg
                            </div>
                            <div class="price">
                                <strong>99.900 sum </strong><span>/ im</span>
                            </div>
                            <div class="addtocart">
                                <button>Add to cart</button>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Kraska fasadnaya fakturnaya yesho shtoto Hayat 10kg
                            </div>
                            <div class="price">
                                <strong>99.900 sum </strong><span>/ im</span>
                            </div>
                            <div class="addtocart">
                                <button>Add to cart</button>
                            </div>
                        </div>
                        <div class="product-row">
                            <div class="image">
                                <img src="images/prod.png">
                            </div>
                            <div class="title">
                                Kraska fasadnaya fakturnaya yesho shtoto Hayat 10kg
                            </div>
                            <div class="price">
                                <strong>99.900 sum </strong><span>/ im</span>
                            </div>
                            <div class="addtocart">
                                <button>Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nalichiye">
                    <span>Sena i nalichiye na 13 february 2018 12:30</span>
                </div>
                <div class="actions">
                    <div class="quantity">
                        <input type="text" name="quantity">
                        <div class="plus"></div>
                        <div class="minus"></div>
                    </div>
                </div>
            </div>
            <div class="product-char">
                <p><span>Brand</span><span>hayat</span></p>
                <p><span>Item height</span><span>300sm</span></p>
                <p><span>Item width</span><span>2000sm</span></p>
                <p><span>Screen size</span><span>hayat</span></p>
                <p><span>Product dimensions</span><span>hayat</span></p>
                <p><span>Item id</span><span>hayat</span></p>
            </div>
            <div class="product-desc">
                <p>You can use the default easing or a custom easing setting. The amount of easing can also be altered - default is 12, set higher for more, lower for lessYou can use the default easing or a custom easing setting. The amount of easing can also be altered - default is 12, set higher for more, lower for less</p>
                <p>Preimushestva:</p>
                <ul>
                    <li>
                        askldjasklfhaslh
                    </li>
                    <li>
                        askldjasklfhaslh
                    </li>
                    <li>
                        askldjasklfhaslh
                    </li>
                    <li>
                        askldjasklfhaslh
                    </li>
                    <li>
                        askldjasklfhaslh
                    </li>
                    <li>
                        askldjasklfhaslh
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <section id="feedbacks-block">
        <div class="block-title">Feedbacks</div>
        <div class="block-header">
            <div class="sort">
                <div class="found">Naydeno: <span>12 otzivov</span></div>
                <div class="sorting">
                    <form>
                        <label>Sortirovat:</label>
                        <select>
                            <option value="">Novie</option>
                            <option value="">prodovayemiye</option>
                            <option value="">prodovayemiye</option>
                            <option value="">prodovayemiye</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="addfeed">
                <button>Ostavit otziv</button>
            </div>
            <div class="feedback-form">
                <form>
                    <div class="form-item">
                        <label>Your name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form-item">
                        <label>Where are you from?</label>
                        <input type="text" name="land">
                    </div>
                    <div class="form-item">
                        <label>Title</label>
                        <input type="text" name="title">
                    </div>
                    <div class="form-item">
                        <label>Your message</label>
                        <textarea></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="block-content">
            <div class="row">
                <div class="name">Maqsud</div>
                <div class="land">from Namangan</div>
                <div class="title">Very good!</div>
                <div class="body">Lorem Ipsum dolor amet i bla bla and another blashki</div>
                <div class="date">14 february 2018</div>
            </div>
            <div class="row">
                <div class="name">Maqsud</div>
                <div class="land">from Namangan</div>
                <div class="title">Very good!</div>
                <div class="body">Lorem Ipsum dolor amet i bla bla and another blashki</div>
                <div class="date">14 february 2018</div>
            </div>
            <div class="row">
                <div class="name">Maqsud</div>
                <div class="land">from Namangan</div>
                <div class="title">Very good!</div>
                <div class="body">Lorem Ipsum dolor amet i bla bla and another blashki</div>
                <div class="date">14 february 2018</div>
            </div>
        </div>
        <div class="block-footer">
            <a href="">More feedbacks</a>
        </div>
    </section>
    <footer id="footer">
        <a class="home" href="">stroyshop.uz</a>
        <div class="footer-top">
            <span class="gotop">Go top</span>
            <div class="socials">
                <a href="">facebook</a>
                <a href="">insta</a>
                <a href="">tg</a>
            </div>
            <div class="shopnum">
                <span>No1 online shop stroyshoppinga</span><img src="/images/car.png">
            </div>
        </div>
        <div class="footer-content">
            <div class="logo">
                <a href="/">
                <img src="images/logo.png">
            </a></div>
            <div class="copyright">
                <p>Compyrights C stroyshop</p>
                <p>All rights reserved</p>
                <p>Say naxoditsa d zone TAS-IX</p>
            </div>
            <div class="forusers">
                <h2>For Users</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="forsellers">
                <h2>For customers</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="address">
                <h2>Our address</h2>
                <p>Fuck'in st., Naked country, Bitch region, 6 h. 10000111</p>
            </div>
            <div class="contacts">
                <p>+998 71 251 00 55</p>
                <p>+998 71 251 00 55</p>
                <p>info@stroyshop.uz</p>
            </div>
        </div>
    </footer>
</body>

</html>