<!DOCTYPE html>
<html>

<head>
    <title>StroyShop main page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/fancy.css">
    <link rel="stylesheet" type="text/css" href="plugins/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="plugins/fontawesome/font-awesome.min.css">
    <script src="js/scripts.js"></script>
</head>

<body class="product-page">
    <header id="header">
        <div class="header-top">
            <div id="user-block">
                <p>
                    <a href="/login" class="login">Login</a></p>
                <p>
                    <a href="/register" class="register">Registration</a></p>
            </div>
        </div>
        <div class="logo">
            <a href="/">
                <img src="images/logo.png">
            </a>
        </div>
        <div class="header-bottom">
            <div id="search-block">
                <form>
                    <input type="text" name="search" placeholder="Search product">
                    <input type="submit" name="submit" value="&#xf002;">
                </form>
            </div>
            <div id="cart-info">
                <div class="numbers-block">
                    <p>
                        <span>+998 (97) 430-60-70</span>
                        <span>+998 (97) 430-60-70</span>
                    </p>
                </div>
                <div class="cart-block">
                    <p>
                        <span>Cart</span>
                        <span>1,587 300 sum</span>
                    </p>
                </div>
                <div class="checkout-block">
                    <button>Checkout</button>
                </div>
            </div>
            <div id="menu-block">
                <ul>
                    <li class="expanded">
                        <a href="">Product categories</a>
                        <ul>
                            <h2>Catalog</h2>
                            <li>
                                <a href="">Category link</a>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li class="expanded">
                                                <a href="">Category link</a>
                                                <ul>
                                                    <li>
                                                        <a href=""><img src="/images/brand1.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand2.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand3.png"></a>
                                                    </li>
                                                    <li>
                                                        <a href=""><img src="/images/brand4.png"></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="expanded">
                                <a href="">Category link</a>
                                <ul>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li>
                                        <a href="">Category link</a>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded">
                                        <a href="">Category link</a>
                                        <ul>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                            <li>
                                                <a href="">Category link</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Delivery</a>
                    </li>
                    <li>
                        <a href="">Payment</a>
                    </li>
                    <li>
                        <a href="">Contacts</a>
                    </li>
                    <li>
                        <a href="">Something else</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main">
        <section id="breadcrumbs">
            <a href="">Main</a>
            <a href="">My StroyShop</a>
            <a href="" class="last">Account Settings</a>
        </section>
        <section id="settings">
            <h1 id="page-title">Account Settings</h1>
            <div class="block-content">
                <a href="" class="row">
                    <div class="image"><img src="images/orders.png"></div>
                    <div class="title">Vashi zakazi</div>
                    <div class="desc">Lorem ipsum dolor amet</div>
                </a>
                <a href="" class="row">
                    <div class="image"><img src="images/safety.png"></div>
                    <div class="title">Bezopastnost</div>
                    <div class="desc">Lorem ipsum dolor amet</div>
                </a>
                <a href="" class="row">
                    <div class="image"><img src="images/address.png"></div>
                    <div class="title">Adresa dostavki</div>
                    <div class="desc">Lorem ipsum dolor amet</div>
                </a>
                <a href="" class="row">
                    <div class="image"><img src="images/payment.png"></div>
                    <div class="title">Sposobi oplati</div>
                    <div class="desc">Lorem ipsum dolor amet</div>
                </a>
            </div>
        </section>
    </div>
    <footer id="footer">
        <a class="home" href="">stroyshop.uz</a>
        <div class="footer-top">
            <span class="gotop">Go top</span>
            <div class="socials">
                <a href="">facebook</a>
                <a href="">insta</a>
                <a href="">tg</a>
            </div>
            <div class="shopnum">
                <span>No1 online shop stroyshoppinga</span><img src="/images/car.png">
            </div>
        </div>
        <div class="footer-content">
            <div class="logo">
                <a href="/">
                <img src="images/logo.png">
            </a></div>
            <div class="copyright">
                <p>Compyrights C stroyshop</p>
                <p>All rights reserved</p>
                <p>Say naxoditsa d zone TAS-IX</p>
            </div>
            <div class="forusers">
                <h2>For Users</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="forsellers">
                <h2>For customers</h2>
                <ul>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                    <li><a href="">Bla bla and bla</a></li>
                </ul>
            </div>
            <div class="address">
                <h2>Our address</h2>
                <p>Fuck'in st., Naked country, Bitch region, 6 h. 10000111</p>
            </div>
            <div class="contacts">
                <p>+998 71 251 00 55</p>
                <p>+998 71 251 00 55</p>
                <p>info@stroyshop.uz</p>
            </div>
        </div>
    </footer>
</body>

</html>