{% extends 'base.html' %}
{% load static i18n humanize %}
{% block title %}
    {% trans 'Orders history' %}
{% endblock %}
{% block content %}
    {{ header }}
        <div id="main">
            {{ breadcrumbs }}
            <section id="history">
                <h1 id="page-title">{% trans 'Orders history' %}</h1>
                <div class="content">
                    {% for order in order_list %}
                        <div class="row">
                            <div class="row-title">
                                <div class="date">
                                    <span>{% trans 'Order date' %}</span>
                                    <span>{{ order.created|date:'d-F Y' }}</span>
                                </div>
                                <div class="summa">
                                    <span>{% trans 'Amount' %}</span>
                                    <span>{{ order.total_price|floatformat }} {% trans 'sum' %}</span>
                                </div>
                                <div class="delivery">
                                    <span>{% trans 'Deliver to' %}</span>
                                    <div class="delto">
                                        <div class="title">
                                            {{order.client_name}}
                                        </div>
                                        <div class="description">
                                            <strong>{{ order.client_name }}</strong>
                                            <p>
                                                {{ order.shipping_address }}
                                            </p>
                                            <strong>{% trans 'Phone' %}.: +998 {{ order.phone|safe }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a href="{% url 'orders:order_detail' phone=order.phone order_unique_id=order.order_unique_id %}">{% trans 'Detail info' %}</a>
                                    <a href="{% url 'orders:order_invoice_detail' phone=order.phone order_unique_id=order.order_unique_id %}">{% trans 'Invoice' %}</a>
                                </div>
                            </div>
                            <div class="row-content">
                                <h2>{% trans 'Delivered on' %} {{ order.created|date:'d/m/Y' }}</h2>
                                {% for cart_product in order.cart_set.all %}
                                    <div class="product-row">
                                        <div class="image">
                                            <img src="{{ cart_product.variation.product.get_default_image.url }}">
                                        </div>
                                        <div class="title">
                                            {{ cart_product.variation.product.name }} {{ cart_product.variation }}
                                        </div>
                                        <div class="price">{{ cart_product.total_price|floatformat }} {% trans 'sum' %}</div>
                                        <div class="quantity">
                                            <span>{% trans 'Quantity' %}</span><span>{{ cart_product.count }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    {% include 'parts/pagination.html' %}
                </div>
            </section>
        </div>
    {{ footer }}
{% endblock %}