{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
    {% trans 'Payment methods' %}
{% endblock %}
{% block content %}
{{ header }}
<div id="main">
    {{ breadcrumbs }}
    <section id="payment">
        <h1 id="page-title">{% trans 'Payment methods' %}</h1>
        <div id="cards">
            <div class="block-content">
                <form action="" method="post" id="payment-edit">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="Submit" value="{% trans 'Submit' %}">

            </form>
            </div>
        </div>
    </section>
</div>
{{ footer }}
{% endblock %}


