{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Security' %}
{% endblock %}
{% block content %}
    {{ header }}
    <div id="main">
        {{ breadcrumbs }}
        <section id="safety">
            <h1 id="page-title">{% trans 'Security' %}</h1>
            {% include 'parts/messages.html' %}
            <div class="block-content">
                <div class="settings">
                    <form id="user_edit_form" action="" method="post">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <div class="row">
                            <span class="label">{% trans 'Name' %}:</span>
                            <p class="content">{{ user.first_name }}</p>
                            <a href="" data-action_type="edit"  class="field_edit" data-save="{% trans 'Save' %}" data-edit="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
                            <input
                                    class="form-input"
                                    type="text"
                                    name="first_name"
                                    value="{{ user.first_name }}"
                            >
                        </div>
                        <div class="row">
                            <span class="label">{% trans 'Last name' %}:</span>
                            <p class="content">{{ user.last_name }}</p>
                            <a href="" data-action_type="edit"  class="field_edit" data-save="{% trans 'Save' %}" data-edit="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
                            <input
                                    class="form-input"
                                    type="text"
                                    name="last_name"
                                    value="{{ user.last_name }}"
                            >
                        </div>
                        <div class="row">
                            <span class="label">{% trans 'Email' %}:</span>
                            <p class="content">{{ user.email }}</p>
                            <a href="" data-action_type="edit"  class="field_edit" data-save="{% trans 'Save' %}" data-edit="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
                            <input
                                    class="form-input"
                                    type="email"
                                    name="email"
                                    value="{{ user.email }}"
                            >

                        </div>
                        <div class="row">
                            <span class="label">{% trans 'Address' %}:</span>
                            <p class="content">{{ user.client.address }}</p>
                            <a href="" data-action_type="edit"  class="field_edit" data-save="{% trans 'Save' %}" data-edit="{% trans 'Edit' %}">{% trans 'Edit' %}</a>
                            <textarea
                                    class="form-input"
                                    autocomplete="off"
                                    name="address">{{ user.client.address }}</textarea>
                        </div>
                        <div class="row">
                            <span class="label">{% trans 'Password' %}:</span>
                            <p class="content">**********</p>
                            <a
                                    href=""
                                    data-action_type="edit"
                                    class="field_edit"
                                    data-save="{% trans 'Save' %}"
                                    data-edit="{% trans 'Edit' %}">
                                {% trans 'Edit' %}
                            </a>
                            <label for="">
                               {% trans 'Old password' %}:
                            </label>
                            <input class="form-input" type="password" name="password_old">
                            <label for="">
                                {% trans 'New password' %}:
                            </label>
                            <input class="form-input" type="password" name="new_password" id="password">
                            <label for="">
                                {% trans 'Confirm password' %}:
                            </label>
                            <input class="form-input" type="password" name="confirm_password" id="password_again">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    {{ footer }}
{% endblock %}

{% block css %}
    <style>
        .form-input{
            display: none;
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.field_edit').click(function(e){
                e.preventDefault();
                var action_this = $(this);


                var parent = $(this).parent('.row');

                if (action_this.data('action_type') === 'edit')
                {
                    parent.addClass('active');

                    action_this.text(action_this.data('save'));
                    action_this.data('action_type', 'save');
                    parent.find('.form-input').show();
                    parent.find('.content').hide();
                }
                else
                {
                    var user_id = $('#user_edit_form').find('input[name="user_id"]').val();
                    var url = '/api/v1/users/' + user_id + '/update/';

                    var form_input = parent.find('.form-input');
                    var field_name = form_input.attr('name');
                    var post_data = [];
                    console.log(field_name);

                    if (field_name === 'password_old')
                    {
                        $.each(form_input, function (index, item) {
                            console.log($(item).attr('name'))
                            post_data.push({
                                field_name: $(item).attr('name'),
                                field_data: $(item).val()
                            })
                        })
                    }
                    else
                    {
                        post_data = {
                            field_name: field_name,
                            field_data: form_input.val()
                        }
                    }

                    $.post(url, {'data': JSON.stringify(post_data)}, function (resp) {
                        if(resp.status === 'success')
                        {
                            $.notify(resp.message, 'success');

                            var content;
                            if (field_name === 'password_old')
                            {
                                content = '**********'
                            }
                            else
                            {
                                content = form_input.val()
                            }
                            parent.find('.content').text(content);
                            parent.removeClass('active');
                            form_input.hide();

                            action_this.text(action_this.data('edit'));
                            action_this.data('action_type', 'edit')

                            parent.find('.content').show();
                        }
                        else
                        {
                            $.notify(resp.message, 'error');
                        }
                    });
                }

            })
        });
        $(document).keyup(function(e) {
            if (e.keyCode === 27) {
                $('.form-input').css("display", 'none');
                $('.row').removeClass("active");
                $('.content').show();

                var field_edit = $('.field_edit');
                field_edit.text(field_edit.data('edit'));
                field_edit.data('action_type', 'edit');

            }
        });
    </script>


{% endblock %}