#header .header_bottom #cart_info .cart-block a:hover{
	cursor: pointer;
}
#main #left{
	text-align: left;
}
#main #product-content{
	text-align: left;
}
#center #cart-content{
	padding: 0;
}
#center #cart-content #right{
	display: inline-block;
	float: right;
	width: 19%;
}
#center #cart-content #right #checkout{
	padding: 30px 3px;
}
#center #cart-content .checkoutCartTable{
	width: 80%;
	float: left;
	border: 1px solid #b8c11c;
	border-radius: 4px;
	border-bottom: none;
}
#center #cart-content .checkoutCartTable .cart-header-row{
	display: flex;
	justify-content: stretch;
	align-items: center;
}
#center #cart-content .checkoutCartTable .cart-header-row li{
	text-align: center;
	height: 38px;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#center #cart-content .checkoutCartTable .cart-header-row li:nth-child(1){
	width: 15%;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	text-align: center;
}
#center #cart-content .checkoutCartTable .cart-header-row li:nth-child(2){
	width: 55%;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	text-align: center;
}
#center #cart-content .checkoutCartTable .cart-header-row li:nth-child(3){
	width: 15%;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	text-align: center;
}
#center #cart-content .checkoutCartTable .cart-header-row li:nth-child(4){
	width: 15%;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	text-align: center;
}
#center #cart-content .checkoutCartTable .cart-header-row li:nth-child(5){
	width: 15%;
	border-bottom: 1px solid #b8c11c;
	text-align: center;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row{
	display: flex;
	justify-content: stretch;
	align-items: center;
	text-align: center;
	font-size: 16px;
}

#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-picture{
	width: 15%;
	height: 10vw;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	display: flex;
	justify-content: center;
	align-items: center;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-picture img{
	width: 8vw;
	height: 8vw;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-item{
	width: 55%;
	height: 10vw;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity{
	width: 15%;
	height: 10vw;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-price{
	width: 15%;
	height: 10vw;
	border-right: 1px solid #b8c11c;
	border-bottom: 1px solid #b8c11c;
	display: flex;
	justify-content: center;
	align-items: center;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-subtotal{
	width: 15%;
	height: 10vw;
	border-bottom: 1px solid #b8c11c;
	display: flex;
	justify-content: center;
	align-items: center;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .quantity{
	display: flex;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .quantity input{
	border: 1px solid #000;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	font-size: 12px;
	background: #fff;
	color: #000;
	text-align: center;
	margin-top: 3px;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .quantity .plus_cart_item{
	border: none;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .quantity .plus_cart_item .fa-plus-circle:hover{
	cursor: pointer;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .quantity .minus_cart_item{
	border: none;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .quantity .minus_cart_item .fa-minus-circle:hover{
	cursor: pointer;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .delete_item{
	border: none;
	color: #B22222;
}
#center #cart-content .checkoutCartTable #tbody .cart-item-row .cart-product-quantity .delete_item .fa-times:hover{
	cursor: pointer;
	color: #8B0000;
	transition: .4s;
}
#cart-content #right #checkout{
	margin-right: 0;
	margin-top: 0;
}
#cart-content #right #checkout .itog a{
	background: #fee859;
	border: solid 1px #d6ba01;
	border-radius: 5px;
	padding: 10px;
	font-size: 11px;
	cursor: pointer;
	display: inline-block;
}

#main, #address .col-md-4{
	text-align: center;
	margin-bottom: 10px;
}
#main, #address .col-md-8 {
	text-align: center;
}
#main, #address .col-md-8 a {
	font-size: 14px;
	color: #333;
}
#main,#address .col-md-8 h4 {
	font-size: 14px;
	color: #333;
}
#main,#address .col-md-8 #checkout-form {
	width: 40%;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
}
#main,#address .col-md-8 #checkout-form .form-group #id_client_name{
	border-radius: 8px;
	padding: 7px 20px;
	width: 100%;
}
#main,#address .col-md-8 #checkout-form .form-group .input-group .input-group-addon{
	padding: 9px 0;
	color: #333;
	border-radius: 5px 0 0px 5px;
}
#main,#address .col-md-8 #checkout-form .form-group .input-group #id_phone{
	padding: 7px;
	border-radius: 0px 5px 5px 0;
	width: 85%;
}
#main,#address .col-md-8 #checkout-form .form-group #id_shipping_address{
	border-radius: 5px;
}
#main,#address .col-md-8 #checkout-form .form-actions{
	text-align: center;
}
.header-bottom #cart-info .cart-block span:nth-child(2){
	font-size: 14px;
	color: #4d4d4d;
	text-transform: lowercase;
}
.header-bottom #cart-info .cart-block span:nth-child(2) #cart_price_total{
	color: #F00;
}
#main{
	padding: 5px;
}
#right #checkout .itog h2{
	font-size: 20px;
	text-transform: lowercase;
}
#cart-content .checkoutCartTable #tbody .cart-product-item a{
	color: #333;
}

#cartview{
	width: 480px;
	max-height: 580px;
	padding: 20px 20px 0 20px;
	background: #fff;
	border: 1px solid #b7c233;
	border-radius: 3px;
	position: fixed;
	top: 68px;
	right: 15px;
	z-index: 14;
	font-size: 11px;
	overflow-y: none;
	display: none;
}
#cartview.scroll{
	overflow-y: scroll;
}
#cart-info .cart-block:hover #cartview{
	display: block;
	/*flex-direction: column;*/
	/*align-items: center;*/
}
#breadcrumbs{
	/*max-width: none;*/
	margin-top: 4px;
}
#breadcrumbs a::after {
	content: '';
	width: 9px;
	height: 9px;
	background: url(../images/arrow_right.svg);
    display: inline-block;
    color: #a3a3a3;
    vertical-align: baseline;
    margin-left: 15px;
}
#cartview .item .description .cart_item_name{
	width: 200px;
	font-size: 11px;
}
#cartview .item .description .cart_item_color{
	width: 20px;
	height: 20px;
	font-size: 11px;
}
#cartview .item .description .cart_item_col{
	width: 20px;
	font-size: 11px;
}
#cartview .item .description .cart_item_sum{
	width: 100px;
	font-size: 11px;
}
#cartview .buttons #viewcart, #cartview .buttons #checkout{
	font-size: 11px;
	padding: 10px;
}
#cartview .item .description{
	text-align: center;
}
#cartview .item{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	height: 50px;
}
#cartview .item #delete{
	position: absolute;
	left: 15px;
	background: #fff;
	color: #333;
	border: none;
	border-radius: 50%;
	padding: 3px 6px;
}
#cartview .item .description{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 10px;
	font-size: 16px;
}
#cartview .item .description img{
	margin: 0 20px;
}
#cartview .item .description h2{
	width: 300px;
	text-align: center;
}
#cartview .buttons #item_view_cart{
	background: #b7c233;
	color: #fff;
	border-radius: 5px;
	padding: 8px 15px;
	height: 15px;
	width: 60px;
	display: flex;
	align-items: center;
}
#cartview .buttons #checkout{
	margin-top: 0;
	padding: 8px 15px;
	color: #b7c233;
	display: flex;
	align-items: center;
}
#cartview .buttons{
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}
#breadcrumbs{
	text-align: left;
}
.product #main{
	padding: 5px;
}
@media (max-width: 1100px){
	#center #cart-content .checkoutCartTable{
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
		display: block;
	}
	#center #cart-content #right{
		float: none;
		width: 25%;
	}
}
@media (max-width: 768px){
	#cartview{
		max-height: auto;
		overflow-y: scroll;
		left: 0;
		right: 0;
		top: 45px;
		bottom: 0;
		width: 100%;
		border-radius: 0;
	}
}