{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#b7c233">
    <meta name="msapplication-navbutton-color" content="#b7c233">
    <meta name="apple-mobile-web-app-status-bar-style" content="#b7c233">
    <style type="text/css">

    .bounce {
        margin: 250px auto 0;
        width: 70px;
        text-align: center;
    }

    .bounce>div {
        width: 18px;
        height: 18px;
        background-color: #b7c233;
        border-radius: 100%;
        display: inline-block;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce .bounce1 {
        animation-delay: -0.32s;
    }

    .bounce .bounce2 {
        animation-delay: -0.16s;
    }

    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            transform: scale(0);
        }
        40% {
            transform: scale(1.0);
        }
    }
    </style>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fancy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?v=123qwer1t">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_style.css' %}?v=123qwer1t">

    <script src="{% static 'js/scripts.js' %}?v=123qwer1t"></script>
    <script src="{% static 'js/notify.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}?v=123qwer1t"></script>
    <script src="{% static 'js/main.js' %}?v=123qwer1t"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="https://use.fontawesome.com/1ff752e90a.js"></script>

    <style>
        .notifyjs-corner
        {
            top: 40% !important;
        }
        form ul.errorlist {
            color: red;
            margin: 6px;
            padding: 2px;
        }
        #delivery_address_add span.close {
            float: right;
            cursor: pointer;
        }
    </style>
</head>
<body class="product">
<div class="loader">
    <div class="bounce">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div id="body" style="opacity: 0;">
    {% block content %}{% endblock %}
</div>
{% block js %}{% endblock %}
<script>
window.set_data_to_cookie = function(client_name, phone, email, shipping_address, time, need_porter, payment_method)
{
    var client_data;
    if (Cookies.get('client_data'))
    {
        client_data = JSON.parse(Cookies.get('client_data'));
    }
    else
    {
        client_data = {
            "time": "",
            "need_porter": "",
            "payment_method": "",
            "address": {
                "client_name": "",
                "phone": "",
                "email": "",
                "shipping_address": ""
            }
        }
    }
    var data = {
        "time": (time)? time : client_data.time ,
        "need_porter": (need_porter)? need_porter : client_data.need_porter ,
        "payment_method": (payment_method)? payment_method : client_data.payment_method,
        "address": {
            "client_name": (client_name)? client_name : client_data.address.client_name ,
            "phone": (phone)? phone :  client_data.address.phone,
            "email": (email)? email : '' ,
            "shipping_address": (shipping_address)? shipping_address : client_data.address.shipping_address
        }
    };
    Cookies.set('client_data', JSON.stringify(data), { expires: 7, path: '/' });
};

$(document).ready(function () {
    var csrftoken = Cookies.get('csrftoken')
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function addParameter(url, parameterName, parameterValue, atStart/*Add param before others*/){
        replaceDuplicates = true;
        if(url.indexOf('#') > 0){
            var cl = url.indexOf('#');
            urlhash = url.substring(url.indexOf('#'),url.length);
        } else {
            urlhash = '';
            cl = url.length;
        }
        sourceUrl = url.substring(0,cl);

        var urlParts = sourceUrl.split("?");
        var newQueryString = "";

        if (urlParts.length > 1)
        {
            var parameters = urlParts[1].split("&");
            for (var i=0; (i < parameters.length); i++)
            {
                var parameterParts = parameters[i].split("=");
                if (!(replaceDuplicates && parameterParts[0] === parameterName))
                {
                    if (newQueryString === "")
                        newQueryString = "?";
                    else
                        newQueryString += "&";
                    newQueryString += parameterParts[0] + "=" + (parameterParts[1]?parameterParts[1]:'');
                }
            }
        }
        if (newQueryString === "")
            newQueryString = "?";

        if(atStart){
            newQueryString = '?'+ parameterName + "=" + parameterValue + (newQueryString.length>1?'&'+newQueryString.substring(1):'');
        } else {
            if (newQueryString !== "" && newQueryString !== '?')
                newQueryString += "&";
            newQueryString += parameterName + "=" + (parameterValue?parameterValue:'');
        }
        return urlParts[0] + newQueryString + urlhash;
    }

    $('#order_by').change(function (e) {
        var href = location.href;
        var name = $(this).attr('name');
        var value = $(this).val();
        location = addParameter(href, 'order_by', value, true)
    });

    $(document).on('click', '.product_list_variation', function (elem) {

        var variation_name = $(this).data('variation_name');
        var product_id = $(this).data('product_id');

        var tmp_this = $(this);

        var product_title = $(this).parent('ul').parent('.weight').parent('.product_list_variation_list').siblings('.title');
        product_title.find('.product_variation').text($(this).children('span').text());


        if ($(this).data('color_has'))
        {
           var url = '/api/v1/products/' + product_id +'/variations/?name=' + variation_name;
           $.getJSON(url, function (resp) {
               var results = resp.results;

               var html = "";
               var color_has = 0;

               if (resp.count > 0)
               {
                   $.each(results, function (index, item) {
                       if (item.color_code)
                       {
                            color_has++;
                            var price = item.price;
                            var attr_class = (index === 0)? 'active' : '';
                            var attr_title = item.color_name;
                            var attr_max = item.quantity;
                            html += '<li  class="color_change" id="variation_' + item.id +'">';
                                html += '<span data-variation="' + item.id +'" data-quantity="' + attr_max +'"  data-title="' + attr_title + '" data-price="' + price +'" class="'+ attr_class + '" style="background-color: '+ item.color_code +'"></span>';
                            html += '</li>';
                       }
                   });
                   if(color_has  > 0)
                   {
                       var color = tmp_this.parent().parent('.weight').siblings('.color');
                       console.dir(tmp_this.data('variation_name'));
                       color.css({
                           'display': 'inline-block'
                       });
                       color.children('.colors_set').html(html);
                       color.find('.color_change>span.active').click();
                   }
               }
           });
        }
        else
        {
            var price = $(this).data('price');
            var quantity = $(this).data('quantity');

            var addtocart = tmp_this.parent().parent('.weight').parent('.product_list_variation_list').siblings('.addtocart');

            if (quantity !== 0)
            {
                    addtocart.show();
                var quantity_input = addtocart.find('.product_cart_add_form input[name="quantity"]');
                    quantity_input.prop('max', $(this).data('max'));
                    quantity_input.data('variation', $(this).data('variation'));
                    addtocart.siblings('.price').find('.price_display').text(price)
                    addtocart.siblings('.price').find('.price_label').show()
            }
            else
            {
                    addtocart.hide();
                    addtocart.siblings('.price').find('.price_display').text("{% trans 'Not available' %}")
                    addtocart.siblings('.price').find('.price_label').hide()
            }
        }
    });


    $(document).on('click', '.color_change span', function (e) {
        console.log('color clicked');
        var color_change = $(this).parent('.color_change');
        var colors_set = color_change.parent('ul.colors_set');
        var addtocart = colors_set.parent('.color').parent('.product_list_variation_list').siblings('.addtocart');
        var product_title = colors_set.parent('.color').parent('.product_list_variation_list').siblings('.title');

        product_title.find('.product_color').text($(this).data('title'));

        var tmp_this = $(this);
        var price = $(this).data('price');
        var quantity = $(this).data('quantity');

        $.each(color_change.parent('ul').children('li'), function (index, item) {
            $(item).children('span').removeClass('active')
        });

        $(this).addClass('active');

        var quantity_input = addtocart.find('.product_cart_add_form input[name="quantity"]');

        if (quantity !== 0)
        {
            addtocart.show();
            quantity_input.prop('max', $(this).data('max'));
            quantity_input.data('variation', $(this).data('variation'));
            addtocart.siblings('.price').find('.price_display').text(price)
            addtocart.siblings('.price').find('.price_label').show()
        }
        else
        {
            addtocart.hide();
            addtocart.siblings('.price').find('.price_display').text("{% trans 'Not available' %}")
            addtocart.siblings('.price').find('.price_label').hide()
        }
    });


    $(document).on('click', '.delete_item', function (e) {
        var cart_item_id = $(this).data('cart_item_id');
        $.ajax({
            url: '/api/v1/cart/' + cart_item_id +'/delete/',
            type: 'DELETE',
            success: function (res) {
                $(e.target).parent().parent().parent('.product-row').hide();
                $.notify("{% trans 'Successful removed' %}", 'success');
                update_cart()
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

});
function update_cart() {
    $.getJSON("{% url 'api:cart_list' %}", function(resp){
        $("#cart_price_total").text(resp.total_price);
    });

    $.get("{% url 'api:cart_html_list' %}", function(resp){
        $('#cartview').html(resp);
    });
}
window.onload = function () {

    update_cart();

    $('form.product_cart_add_form').submit(function (e) {
       var this_target = $(this);
       var this_elem = $(this);
       e.preventDefault();
       var quantity = $(this).find('input[name="quantity"]').val();
       var variation = $(this).find('input[name="quantity"]').data('variation');
       $.ajax({
           url: '{% url "api:cart_list" %}',
           type: 'POST',
           data: {
               count: quantity,
               variation: variation
           },
           success: function (resp) {
               var cart = $('#cart_icon');
               if (resp.status === 'success')
               {
                    if (window.innerWidth <= 1024)
                    {
                        cart = $('#checkout_block_order_checkout_btn');
                    }
                    cart.removeClass('rotated');

                    var top = cart.offset().top + 10;
                    var left = cart.offset().left + 10;

                    var image_src = this_target.find('button').data("image");
                    var new_imgtodrag = document.createElement('img');
                        new_imgtodrag.src = image_src;

                    var imgtodrag =  $(new_imgtodrag);

                    if (imgtodrag) {
                        var imgclone = imgtodrag.clone()
                            .offset({
                                top: this_target.offset().top,
                                left: this_target.offset().left
                            })
                            .css({
                                'opacity': '0.5',
                                'position': 'absolute',
                                'height': '150px',
                                'width': '150px',
                                'z-index': '100'
                            })
                            .appendTo($('body'))
                            .animate({
                                'top': cart.offset().top + 10,
                                'left': cart.offset().left + 10,
                                'width': 75,
                                'height': 75
                            }, 1000, 'easeInOutExpo');

                        imgclone.animate({
                            'width': 0,
                            'height': 0
                        }, function () {
                            $(this).detach()
                        });

                    }

                    setTimeout(function (e) {
                        cart.addClass('rotated');
                    }, 1000);

                   update_cart();
                   $.notify(resp.message, 'success');
               }
           },
           error: function () {
               console.log('Error')
           }
       })
    });

    $(document).on('change', '.change_price_cart_item', function () {
        var price = $(this).data('price');
        $(this).parent('.quantity').siblings('.price').find('.price_total').text(price);
    });


    $(document).on('click', '.order_steps ul.steps li', function(){
        window.location.href = $(this).children('a').attr('href');
    });
};

    $(window).load(function() {
        $('.loader').fadeOut();
        $('#body').css({ 'opacity': 1 });
    });
</script>
</body>
</html>
<!-- Sentry JS SDK 2.1.+ required -->
{#<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>#}

{% if request.sentry.id %}
  <script>
  Raven.showReportDialog({
    eventId: '{{ request.sentry.id }}',

    // use the public DSN (dont include your secret!)
    dsn: 'https://7d9bb4cd7a954c2f841ba88fd0eea88b:3c012f644643414e8f9e48d7148b5675@sentry.io/1198570'
  });
  </script>
{% endif %}