{% load i18n static %}
<footer id="footer">
    <a class="home" href="">stroyshop.uz</a>
    <div class="footer-top">
        <span class="gotop">Go top</span>
        <div class="socials">
            <a href="">facebook</a>
            <a href="">insta</a>
            <a href="">tg</a>
        </div>
        <div class="shopnum">
            <span>No1 online shop stroyshoppinga</span><img src="{% static 'images/car.png' %}">
        </div>
    </div>
    <div class="footer-content">
        <div class="logo">
            <a href="/">
            <img src="{% static 'images/logo.png' %}">
        </a></div>
        <div class="copyright">
            <p>Compyrights C stroyshop</p>
            <p>All rights reserved</p>
            <p>Say naxoditsa d zone TAS-IX</p>
        </div>
        <div class="forusers">
            <h2>For Users</h2>
            <ul>
                <li><a href="">Bla bla and bla</a></li>
                <li><a href="">Bla bla and bla</a></li>
                <li><a href="">Bla bla and bla</a></li>
            </ul>
        </div>
        <div class="forsellers">
            <h2>For customers</h2>
            <ul>
                <li><a href="">Bla bla and bla</a></li>
                <li><a href="">Bla bla and bla</a></li>
                <li><a href="">Bla bla and bla</a></li>
            </ul>
        </div>
        <div class="address">
            <h2>Our address</h2>
            <p>Fuck'in st., Naked country, Bitch region, 6 h. 10000111</p>
        </div>
        <div class="contacts">
            <p>+998 71 251 00 55</p>
            <p>+998 71 251 00 55</p>
            <p>info@stroyshop.uz</p>
        </div>
    </div>
</footer>