{% load i18n static %}
<footer id="footer">
    <a class="home" href="">stroyshop.uz</a>
    <div class="footer-top">
        <span class="gotop">{% trans 'Go top' %}</span>
        <div class="socials">
            <a href="">facebook</a>
            <a href="">insta</a>
            <a href="">tg</a>
        </div>
        <div class="shopnum">
            <span>Stroyshop - {% trans 'N1 online shop' %}</span>
            <img src="{% static 'images/car.png' %}">
        </div>
    </div>
    <div class="footer-content">
        <div class="logo">
            <a href="/">
            <img src="{% static 'images/logo.png' %}">
        </a></div>
        <div class="copyright">
            <p>{% trans 'All rights reserved' %}</p>
            <p>{% trans 'The site is located in the zone TAS-IX' %}</p>
        </div>
        <div class="forusers">
            <h2>{% trans 'For Users' %}</h2>

            <ul>
                {% for menu in footer_partners %}

                        <li><a href="{% url 'main:static_footer' slug=menu.slug %}">{{menu.name}}</a></li>


                {% endfor %}
            </ul>
        </div>
        <div class="forsellers">
            <h2> {% trans 'For customers' %}</h2>
            <ul>
                {% for menu in footer_clients %}

                        <li><a href="{% url 'main:static_footer' slug=menu.slug %}">{{menu.name}}</a></li>

                {% endfor %}
            </ul>
        </div>
        <div class="address">
            <h2>{% trans 'Our address' %}</h2>
            <p>Fuck'in st., Naked country, Bitch region, 6 h. 10000111</p>
        </div>
        <div class="contacts">
            <p>+998 71 251 00 55</p>
            <p>+998 71 251 00 55</p>
            <p>info@stroyshop.uz</p>
        </div>
    </div>
</footer>


<div class="{% if login_form.errors or register_form.errors %}popup{% endif %}" style="display:none;" id="login_and_register">
    <div class="container">
        <div class="tabs-title">
            <span class="login {% if login_form.errors %}active{% endif %}">{% trans 'Login' %}</span>
            <span class="register {% if register_form.errors %}active{% endif %}">{% trans 'Registration' %}</span>
            <span class="close">x</span>
        </div>
        <div class="tabs-content">
            <div class="login" style="{% if login_form.errors %}display:block;{% endif %}">
                <h2 class="block-title">{% trans 'Login' %}</h2>
                <div class="socials">
                    <a href="" class="google">{% trans 'Login with Google' %}</a>
                    <a href="" class="facebook">{% trans 'Login with Facebook' %}</a>
                </div>
                <div class="delimeter">
                    <span>or</span>
                </div>
                <div class="form">
                    <form id="auth_form" method="post" role="form" action="{% url 'users:login' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="form-group">
                            <div class="input-group prefix">
                                <span class="input-group-addon">+998</span>
                                <input
                                        tabindex="1"
                                        pattern="[0-9]{9}"
                                        id="login_username"
                                        type="text"
                                        name="{{ login_form.username.name }}"
                                        size="9"
                                        maxlength="9"
                                        class="form-control"
                                        placeholder="Phone number"
                                        value="{% if login_form.username.value %}{{ login_form.username.value }}{% endif %}"
                                >
                            </div>
                        </div>

                        {% if login_form.username.errors %}
                            <div class="help-block">
                                {{ login_form.username.errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input required
                                   type="password"
                                   name="passwd"
                                   id="login_password"
                                   tabindex="2"
                                   class="form-control"
                                   placeholder="{% trans 'Password' %}"
                                   value="">
                        </div>
                        {% if login_form.passwd.errors %}
                            <div class="help-block">
                                {{ login_form.passwd.errors }}
                            </div>
                        {% endif %}
                        <div class="messages-list"></div>
                        <input type="submit" name="submit" value="Login">
                    </form>
                </div>
            </div>
            <div class="registration" style="{% if register_form.errors %}display:block;{% endif %}">
                <h2 class="block-title">{% trans 'Registration' %}</h2>
                <div class="socials">
                    <a href="" class="google">Via Google</a>
                    <a href="" class="facebook">Via Facebook</a>
                </div>
                <div class="delimeter">
                    <span>{% trans 'or' %}</span>
                </div>
                <div class="form">
                    <form id="register_form" action="{% url 'users:register' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="form-group">
                            <input
                                    required
                                    type="text"
                                    name="first_name"
                                    id="register_form_first_name"
                                    tabindex="1"
                                    class="form-control"
                                    placeholder="{% trans 'First name' %}"
                               value="{% if register_form.first_name.value %}{{ register_form.first_name.value }}{% endif %}"
                            >
                            {% if register_form.first_name.errors %}
                                <div class="help-block">
                                    {{ register_form.first_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input
                                    required
                                    type="text"
                                    name="last_name"
                                    id="register_form_last_name"
                                    tabindex="1"
                                    class="form-control"
                                    placeholder="{% trans 'Last name' %}"
                                    value="{% if register_form.last_name.value %}{{ register_form.last_name.value }}{% endif %}">
                            {% if register_form.last_name.errors %}
                                <div class="help-block">
                                    {{ register_form.last_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="input-group prefix">
                                <span class="input-group-addon">+998</span>
                                <input
                                        required
                                        type="text"
                                        name="phone"
                                        id="register_form_phone"
                                        tabindex="1"
                                        class="form-control"
                                        placeholder="{% trans 'Phone' %}"
                                        value="{% if register_form.phone.value %}{{ register_form.phone.value }}{% endif %}"
                                        pattern="[0-9]{9}"
                                        size="9"
                                        maxlength="9"
                                >
                            </div>
                            {% if register_form.phone.errors %}
                                <div class="help-block">
                                    {{ register_form.phone.errors }}
                                </div>
                            {% endif %}
                        </div>

{#                        <div class="form-group">#}
{#                            <input#}
{#                                    required#}
{#                                    type="text"#}
{#                                    name="address"#}
{#                                    tabindex="1"#}
{##}
{#                                    placeholder="Address"#}
{#                                    value="{% if register_form.address.value %}{{ register_form.address.value }}{% endif %}">#}
{#                            {% if register_form.address.errors %}#}
{#                                <div class="help-block">#}
{#                                    {{ register_form.address.errors }}#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        </div>#}

                        <div class="form-group">
                            <input
                                    required
                                    type="password"
                                    name="password"
                                    id="register_password"
                                    tabindex="1"
                                    class="form-control"
                                    placeholder="{% trans 'Password' %}">
                            {% if register_form.password.errors %}
                                <div class="help-block">
                                    {{ register_form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input
                                    required
                                    type="password"
                                    name="confirm_password"
                                    id="register_confirm_password"
                                    tabindex="1"
                                    class="form-control"
                                    placeholder="{% trans 'Confirm password' %}" >
                            {% if register_form.confirm_password.errors %}
                                <div class="help-block">
                                    {{ register_form.confirm_password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="register_terms">
                                <input type="checkbox" required id="register_terms">
                                <a href="" target="_blank">I agree with terms of Stroyshop</a>
                            </label>
                        </div>
                        <input type="submit" name="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var login_and_register = $('#login_and_register');
        $('#user-block .login').click(function(e){
            e.preventDefault();
            login_and_register.show().addClass('popup').find('span.login').addClass('active');
            login_and_register.show().addClass('popup').find('span.register').removeClass('active');
            login_and_register.find('.login').show();
            login_and_register.find('.registration').hide();
        });
        $('#user-block .register').click(function(e){
            e.preventDefault();
            login_and_register.show().addClass('popup').find('span.login').removeClass('active');
            login_and_register.show().addClass('popup').find('span.register').click().addClass('active');
            login_and_register.find('.tabs-content').find('.login').hide();
            login_and_register.find('.tabs-content').find('.registration').show();
        });

        $('#login_and_register .close').click(function(){
            $('#login_and_register').hide()
        });

        $('#auth_form').submit(function (e) {
           e.preventDefault();
           var username = $(this).find('input[name="username"]').val();
           var passwd = $(this).find('input[name="passwd"]').val();
           $.post('/api/v1/users/auth/', {
               'username': username,
               'passwd': passwd
           },
           function (resp) {
               if (resp.status === 'success')
               {
                   document.location = '/accounts/';
               }
               else
               {
                var html = '<div class="help-block">';
                    html += resp.message;
                    html += '</div>';
                    $('.messages-list').html(html);
               }
           });
        });


        $('#register_form').submit(function (e) {
           e.preventDefault();

            var data = $(this).serialize();


           $.post('/api/v1/users/register/', data,
           function (resp) {
               if (resp.status === 'success')
               {
                   document.location = '/accounts/';
               }
               else
               {
                   $.each(resp.fields, function (item, value) {
                        var inputs = $('#register_form').find('input[name="' + value.field +'"]');
                        var parent;
                        if (inputs.parent('.form-group').length)
                        {
                            parent = inputs.parent('.form-group');
                        }
                        else
                        {
                            parent = inputs.parent().parent('.form-group');
                        }

                        if (parent.children('.help-block').length)
                        {
                            parent.children('.help-block').text(value.message)
                        }
                        else
                        {
                            var data = '<div class="help-block " style="color:red;">' + value.message + '</div>';
                            $(data).appendTo(parent);
                        }

                   });
               }
           })

        });

    });
</script>
<style>
    .prefix .input-group-addon {
        border-right: 0;
        border-radius: 4px 0px 0px 4px;
        padding: 6px 0px 6px 20px;
    }
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #fff;
        border: 2px solid #b8c029;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
    }
    .prefix input {
        border-radius: 0px 4px 4px 0px;
    }
    .prefix .input-group-addon {
        border-right: 0;
        border-radius: 4px 0px 0px 4px;
    }
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }
    input#register_form_phone {
        border-left: none;
        margin-left: 0px;
        border-radius: 0px 5px 5px 0px;
        padding: 12px 0px 15px 2px;
    }
    #auth_form .messages-list {
        color: red;
    }
    .popup .container .tabs-title span.close {
        float: right;
    }
</style>
