{% load static mptt_tags i18n humanize products_extras %}

{% full_tree_for_model products.Category as tree %}
<header id="header">
    <div class="header-top">
        <div id="user-block">
            {% if request.user.is_authenticated %}
                <ul class="dropdown">
                    <li>
                        <a href="{% url 'users:profile' %}" class="profile">
                            {{ request.user.get_full_name }}
                        </a>
                        <a class="logout" href="{% url 'users:logout' %}">
                            {% trans 'Logout' %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'users:profile_orders' %}">
                                    {% trans 'My orders' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:profile_security' %}">
                                    {% trans 'Security' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:profile_delivery' %}">
                                    {% trans 'Delivery address' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:profile_payment' %}">
                                    {% trans 'Payment methods' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'users:logout' %}">
                                    {% trans 'Logout' %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <p>
                    <a href="{% url 'users:login' %}" class="login">{% trans 'Login' %}</a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="logo">
        <a href="{% url 'main:home' %}">
            <img style="width: 100px;" src="{% static 'images/new_logo.png' %}">
        </a>
    </div>
    <div class="header-bottom">
        <div id="search-block">
            <form action="{% url 'products:search' %}">
                <input type="text" name="search" {% if request.GET.search %}value="{{ request.GET.search }}"{% else %}placeholder="{% trans 'Search product' %}"{% endif %}>
                <input type="submit" value="" style="background-image: url({% static 'images/search-icon.png' %})">
            </form>
        </div>
        <button id="search_cancel">{% trans 'Cancel' %}</button>
        <div id="cart-info">
            <div class="numbers-block">
                <p>
                    <span>+998 (97) 430-60-70</span>
                </p>
            </div>
            <div class="cart-block">
                <span id="cart_icon_wrapper">
                    <span id="cart_icon"></span>
                </span>
                <a href="{% url 'orders:cart' %}">
                    <p>
                        <span>{% trans 'Cart' %}</span>
                        <span><em ><strong id="cart_price_total">{{ cart.cart_total_price|floatformat|intcomma }}</strong></em> {% trans 'sum' %}</span>
                    </p>
                </a>
                <div id="cartview"></div>
            </div>

            <div class="checkout-block" id="checkout_block_order_checkout_btn">
                <button>
                    <a href="{% url 'orders:address' %}">
                        {% trans 'Checkout' %}
                    </a>
                </button>
            </div>
        </div>
        <div id="menu-block">
            <ul>
                <li class="expanded">
                    <a href="{% url 'products:product_list' slug='all' %}">{% trans 'Product catalog' %}</a>
                    <ul>
                        {% recursetree tree %}
                            <li class="{% if not node.is_leaf_node %}expanded{% endif %}">
                                <a href="{% url 'products:product_list' slug=node.slug %}">
                                    {{ node.name }}
                                </a>
                                {{ node|get_brands }}
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        <li class="view_all">
                                            <a href="{% url 'products:product_list' slug=node.slug %}">
                                                {% trans 'View all' %} {{ node.name|lower }}
                                            </a>
                                        </li>
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                </li>
                {% for menu_item in menu_items %}
                    <li>
                        <a href="{% url 'main:static' slug=menu_item.slug %}">
                            {{ menu_item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
