{% load static %}
<section id="partners">
    <div class="owl-carousel">
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="row">
            <img src="{% static 'images/logo.png' %}">
        </div>
    </div>
</section>